<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            {% if user.uuid == entry.article.leader.uuid %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Followed by {{entry.article.follower.username}}</h5>
                    <p>
                        <strong>Social network established</strong>&nbsp;{{entry.article.social_start|date:"D d M Y"}}
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img class="img img-thumb" src="{{entry.article.follower.avatar.media.url}}"
                                 alt="Avatar" width="185">
                        </div>
                        <div class="col-8">
                            <dl>
                                <dt>Member since</dt>
                                <dd>{{entry.article.follower.date_joined|date:"D d M Y"}}</dd>
                                <dt>Autobiography</dt>
                                <dd>{{entry.article.follower.autobiography|truncatechars:512}}</dd>
                            </dl>
                        </div>
                    </div>
                    <p>
                        <a href="{% url 'user-profile' entry.article.follower.urlsafe_uuid %}">More...</a>
                    </p>
                </div>
            </div>
            {% elif user.uuid == entry.article.follower.uuid %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Following {{entry.article.leader.username}}</h5>
                    <p class="small">
                        <strong>Social network established</strong>&nbsp;{{entry.article.social_start|date:"D d M Y"}}
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img class="img img-thumb" src="{{entry.article.leader.avatar.media.url}}"
                                 alt="Avatar" width="185">
                        </div>
                        <div class="col-8">
                            <dl>
                                <dt>Member since</dt>
                                <dd>{{entry.article.leader.date_joined|date:"D d M Y"}}</dd>
                                <dt>Autobiography</dt>
                                <dd>{{entry.article.leader.autobiography|truncatechars:512}}</dd>
                            </dl>
                        </div>
                    </div>
                    <p>
                        <a href="{% url 'user-profile' entry.article.leader.urlsafe_uuid %}">More...</a>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</article>
