{% extends "base.html" %}
{% load static %}
{% block content %}
{% if object_list %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="row my-3">
                <div class="col">
                    <h5>Academic Graduation record for {{user.public_identity}}</h5>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive-md table-sm data-table">
                <thead class="thead-dark">
                <tr>
                    <th>Entry Academic Year</th>
                    <th>Graduating Academic Year</th>
                    <th>Entry Level</th>
                    <th>Graduating Level</th>
                    <th>Entry Year</th>
                    <th>Graduating Year</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                <tr>
                    <!-- Rendered content with action buttons -->
                    <td>{{object.entry_academic_year}}</td>
                    <td>{{object.graduating_academic_year}}</td>
                    <td>{{object.entry_level}}</td>
                    <td>{{object.graduating_level}}</td>
                    <td>{{object.entry_year}}</td>
                    <td>{{object.graduating_year}}</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{% url 'achievement:academic-graduation-detail' object.slug %}" class="cmd
                cmd-detail" data-toggle="tooltip" title="View"><i class="fa fa-search-plus">&nbsp;</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'achievement:academic-graduation-update' object.slug %}"
                                   class="cmd cmd-edit" data-toggle="tooltip"
                                   title="Edit">
                                    <i class="fa fa-edit">&nbsp;</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'achievement:academic-graduation-delete' object.slug %}" class="cmd
            cmd-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash">&nbsp;</i>
                                </a>
                            </li>
                        </ul>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h5>No record exists for selected entity</h5>
                <p>You may create new record using the ADD command </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-primary"
                           href="{% url 'achievement:academic-graduation-create' %}">Add</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-primary"
                           href="{{ request.META.HTTP_REFERER }}">
                            Back
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
