{% extends "base.html" %}
{% load static %}
{% load publish %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:academic-graduation-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Academic Graduation Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Entry Academic Year</dt>
                        <dd class="col-sm-9 py-3">{{ object.entry_academic_year }}</dd>
                        <dt class="col-sm-3 py-3">Graduating Level</dt>
                        <dd class="col-sm-9 py-3">{{ object.graduating_level }}</dd>
                        <dt class="col-sm-3 py-3">Graduand</dt>
                        <dd class="col-sm-9 py-3">{{ object.graduand }}</dd>
                        <dt class="col-sm-3 py-3">Graduating Year</dt>
                        <dd class="col-sm-9 py-3">{{ object.graduating_year }}</dd>
                        <dt class="col-sm-3 py-3">Entry Level</dt>
                        <dd class="col-sm-9 py-3">{{ object.entry_level }}</dd>
                        <dt class="col-sm-3 py-3">Entry Year</dt>
                        <dd class="col-sm-9 py-3">{{ object.entry_year }}</dd>
                        <dt class="col-sm-3 py-3">Graduating Academic Year</dt>
                        <dd class="col-sm-9 py-3">{{ object.graduating_academic_year }}</dd>
                    </dl>
                    {% if object.ratings.all %}
                    <section>
                        {% include 'components/user_comments.html' with comments=object.ratings.all %}
                    </section>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if object.graduand == request.user %}
<div class="row mt-4">
    <div class="col p-3">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'achievement:academic-graduation-update' object.slug %}">Edit
                </a>
            </li>

            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'achievement:academic-graduation-delete' object.slug %}">Delete
                </a>
            </li>

        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
