{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:achievement-reference-list' %}">View All AchievementReference
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">AchievementReference Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Reference Title</dt>
                        <dd class="col-sm-9 py-3">{{ object.reference_title }}</dd>
                        <dt class="col-sm-3 py-3">Reference Full Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.reference_full_name }}</dd>
                        <dt class="col-sm-3 py-3">Achievement</dt>
                        <dd class="col-sm-9 py-3">{{ object.achievement }}</dd>
                        <dt class="col-sm-3 py-3">Reference Address</dt>
                        <dd class="col-sm-9 py-3">{{ object.reference_address }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:achievement-reference-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:achievement-reference-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
