{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:achievements-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Achievements Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Title</dt>
                        <dd class="col-sm-9 py-3">{{ object.title }}</dd>
                        <dt class="col-sm-3 py-3">Achievement Cause</dt>
                        <dd class="col-sm-9 py-3">{{ object.achievement_cause }}</dd>
                        <dt class="col-sm-3 py-3">Achievement Date</dt>
                        <dd class="col-sm-9 py-3">{{ object.achievement_date }}</dd>
                        <dt class="col-sm-3 py-3">Achievement Source</dt>
                        <dd class="col-sm-9 py-3">{{ object.achievement_source }}</dd>
                        <dt class="col-sm-3 py-3">Last Modified At</dt>
                        <dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd>
                        <dt class="col-sm-3 py-3">Perceived Value</dt>
                        <dd class="col-sm-9 py-3">{{ object.perceived_value|intcomma }}</dd>
                        <dt class="col-sm-3 py-3">Achiever</dt>
                        <dd class="col-sm-9 py-3">{{ object.achiever }}</dd>
                        <dt class="col-sm-3 py-3">Descriptive Value</dt>
                        <dd class="col-sm-9 py-3">{{ object.descriptive_value }}</dd>
                    </dl>
                    <section>
                        <div class="row">
                            <div class="col-12 p-3" >
                                <h6 class="card card-header">References</h6>
                                <ul class="list-group list-group-flush">
                                    {% for reference in object.references.all %}
                                    <li class="list-group-item">
                                        <div class="p-1">
                                            <strong>{{reference.reference_title}} {{reference.reference_full_name}}</strong>
                                        </div>
                                        <p><strong>Contact address:&nbsp;</strong>{{reference.reference_address}}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-12 p-3" >
                                <h6 class="card card-header">Document</h6>
                                <ul class="list-group list-group-flush">
                                    {% for document in object.documents.all %}
                                    <li class="list-group-item">
                                        <div class="p-1">
                                            {% if document.allow_download %}
                                            <a href="{{object.document.media.url}}">{{document.label}} </a>
                                            with file hash {{document.file_hash}}
                                            <i class="fa fa-file-o">&nbsp;</i>
                                            <p class="small">Click link to view or download</p>

                                            {% else %}
                                            {{document.label}} with file hash {{document.file_hash}}
                                            <i class="fa fa-file-o">&nbsp;</i>
                                            {% endif %}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </section>
                    <section>
                        {% if object.ratings.all %}
                        {% include 'components/user_comments.html' with comments=object.ratings.all %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:achievements-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:achievements-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
