
    {% extends "base.html" %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="container my-5">
        {% if object.awardee == request.user %}
    <form method="post">{% csrf_token %}
        <h5>Delete EducationHistory</h5>
        <p>Are you sure you want to delete {{ object }}?</p>
        <div class="form-group">
            <ul class="list-inline">                
                <li class="list-inline-item">
                    <a href="{% url 'achievement:education-history-list' %}" class="btn btn-primary">Cancel</a>
                </li>
                <li class="list-inline-item">
                    <button type="submit" class="btn btn-danger">Delete</button>            
                </li>                
            </ul>
        </div>
    </form>
        {% else %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Access Denied!</strong>
                    <p>You do not have access or permission to delete this record</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
