{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:education-history-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Education History Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Awardee</dt>
                        <dd class="col-sm-9 py-3">{{ object.awardee }}</dd>
                        <dt class="col-sm-3 py-3">Programme</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme }}</dd>
                        <dt class="col-sm-3 py-3">Entry Level</dt>
                        <dd class="col-sm-9 py-3">{{ object.entry_level }}</dd>
                        <dt class="col-sm-3 py-3">Programme Start</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme_start }}</dd>
                        <dt class="col-sm-3 py-3">Programme End</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme_end }}</dd>
                        <dt class="col-sm-3 py-3">Awarded Degree</dt>
                        <dd class="col-sm-9 py-3">{{ object.awarded_degree }}</dd>
                        <dt class="col-sm-3 py-3">Specialization</dt>
                        <dd class="col-sm-9 py-3">{{ object.specialization }}</dd>
                        <dt class="col-sm-3 py-3">Faculty</dt>
                        <dd class="col-sm-9 py-3">{{ object.faculty }}</dd>
                        <dt class="col-sm-3 py-3">Department</dt>
                        <dd class="col-sm-9 py-3">{{ object.department }}</dd>
                    </dl>
                    <section>
                        {% include 'components/institution.html' with institution=object.institution %}
                    </section>
                    <section>
                        {% if object.ratings.all %}
                        {% include 'components/user_comments.html' with comments=object.ratings.all %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    {% if object.awardee == request.user %}
    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:education-history-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:education-history-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
