{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:qualification-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Qualification Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Qualification Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.qualification_name }}</dd>
                        <dt class="col-sm-3 py-3">Qualification Code</dt>
                        <dd class="col-sm-9 py-3">{{ object.qualification_code }}</dd>
                        <dt class="col-sm-3 py-3">Awardee</dt>
                        <dd class="col-sm-9 py-3">{{ object.awardee }}</dd>
                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.description }}</dd>
                        <dt class="col-sm-3 py-3">Is Academic Qualification</dt>
                        <dd class="col-sm-9 py-3">{{ object.is_academic_qualification|yesno:"Yes, No" }}</dd>
                        <dt class="col-sm-3 py-3">Awarded On</dt>
                        <dd class="col-sm-9 py-3">{{ object.awarded_on }}</dd>
                        <dt class="col-sm-3 py-3">Valid Till</dt>
                        <dd class="col-sm-9 py-3">{{ object.valid_till }}</dd>
                    </dl>
                    <section>
                        {% include 'components/institution.html' with institution=object.awarding_institution %}
                    </section>
                    <section>
                        {% if object.ratings.all %}
                        {% include 'components/user_comments.html' with comments=object.ratings.all %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:qualification-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:qualification-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
