{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'achievement:work-experience-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">WorkExperience Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Job Title</dt>
                        <dd class="col-sm-9 py-3">{{ object.job_title }}</dd>
                        <dt class="col-sm-3 py-3">Job Id</dt>
                        <dd class="col-sm-9 py-3">{{ object.job_id }}</dd>
                        <dt class="col-sm-3 py-3">Employment Start</dt>
                        <dd class="col-sm-9 py-3">{{ object.employment_start }}</dd>
                        <dt class="col-sm-3 py-3">Employment End</dt>
                        <dd class="col-sm-9 py-3">{{ object.employment_end }}</dd>
                        <dt class="col-sm-3 py-3">Job Supervisor Contact</dt>
                        <dd class="col-sm-9 py-3">{{ object.job_supervisor_contact }}</dd>
                        <dt class="col-sm-3 py-3">Base Salary Amount</dt>
                        <dd class="col-sm-9 py-3">{{ object.base_salary_amount|intcomma }}</dd>
                        <dt class="col-sm-3 py-3">Employee</dt>
                        <dd class="col-sm-9 py-3">{{ object.employee }}</dd>
                        <dt class="col-sm-3 py-3">Is Volunteer Role</dt>
                        <dd class="col-sm-9 py-3">{{ object.is_volunteer_role|yesno:"Yes, No" }}</dd>
                        <dt class="col-sm-3 py-3">Staff Id</dt>
                        <dd class="col-sm-9 py-3">{{ object.staff_id }}</dd>
                        <dt class="col-sm-3 py-3">Salary Range</dt>
                        <dd class="col-sm-9 py-3">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <span class="small font-weight-bold">Minimum</span>&nbsp;
                                    {{object.salary_range_min|intcomma }}
                                </li>
                                <li class="list-inline-item">
                                    <span class="small font-weight-bold">Maximum</span>&nbsp;
                                    {{object.salary_range_max|intcomma }}
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <section>
                        {% if object.ratings.all %}
                        {% include 'components/user_comments.html' with comments=object.ratings.all %}
                        {% endif %}
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12 p-3">
                                <h6 class="card card-header">References</h6>
                                <p class="p-3"><strong>Contact:&nbsp;</strong>{{ object.referee_contact }}</p>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:work-experience-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'achievement:work-experience-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
