{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class=" mt-5 pt-5">
    <h3>TSA Member Directory</h3>

    <div class="row">
        <div class="col-12">
            {% include 'feeds/public/members_by_time.html' %}
        </div>
    </div>
</section>

{% endblock %}