{% load static %}
<div class="container">
    {% if not request.user.is_authenticated %}
    <div class="row mb-5">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h5>Annonymous User</h5>
                <p>You are currently not logged in.
                    <a href="{% url 'start-on-boarding' %}">Register</a> or <a href="{% url 'user-login' %}">login</a>
                    to apply for advertised job roles or access other career services.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-9">
            {% if members %}
            <div class="row">
                <div class="col">
                    {% if year %}
                    <h5 class="text-justify">Member directory for the selected year: {{year.year}}</h5>
                    {% endif %}
                    <article>
                        {% for member in members %}
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="salutation">{{member.title}} {{member.first_name|capfirst}}
                                            {{member.middle_name}}, {{member.last_name|upper}}</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {% if member.avatar %}
                                                <img src="{{member.avatar.media.url}}" alt="avatar"
                                                     class="img img-thumbnail profile-avatar">
                                                {% else %}
                                                <div class="alert alert-info" role="alert">
                                                    No avatar registered
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <dl>
                                                    <dt>Username</dt>
                                                    <dd>{{member.username}}</dd>
                                                    <dt>Community Clan</dt>
                                                    <dd>{{member.community.first.community_name}}</dd>
                                                    <dt>Community MoU</dt>
                                                    <dd>{{member.community.first.community_mou}}</dd>
                                                    <dt>Autobiography</dt>
                                                    <dd>{{member.autobiography}}</dd>
                                                </dl>
                                                {% if member.is_public and request.user.is_authenticated %}
                                                <p>
                                                    <a href="{% url 'user-profile' member.urlsafe_uuid %}"
                                                       class="text-primary">More...</a>
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer px-0 card-linear-gradient">
                                <ul class="list-group">
                                    <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0 border-bottom-0">
                                        <div class="row description">
                                            <div class="col-12">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item description"><strong>Gender
                                                    </strong>&nbsp;{{member.gender}}
                                            </li>
                                            <li class="list-inline-item description"><strong>Last
                                                Login</strong>&nbsp;{{member.last_login}}
                                            </li>
                                            <li class="list-inline-item description">
                                                <strong>Member since</strong>
                                                <span>{{member.date_joined|date:"D d M Y"}}</span>
                                            </li>

                                        </ul>
                                            </div>
                                        </div>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="list-group-item bg-transparent border-right-0 border-left-0 border-bottom-0">
                                        <div class="row">
                                    <div class="col">
                                        <div class="py-3">
                                            <a class="collapse-btn text-primary" type="button" title="Click to Rate" data-toggle="collapse"
                                                    data-target="#rate_box_{{member.urlsafe_uuid}}"
                                                    aria-expanded="false"
                                                    aria-controls="rate_box_{{member.urlsafe_uuid}}">
                                                Rate&nbsp;<i class="fa fa-smile-o">&nbsp;</i>
                                            </a>
                                        </div>
                                        <div class="collapse" id="rate_box_{{member.urlsafe_uuid}}">
                                            <div class="card card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <ul class="list-inline pb-4 my-2">
                                                            {% for key, stat in statistics.items %}
                                                            {% if key == member.urlsafe_uuid %}
                                                            <li class="list-inline-item">
                                                                Total rating&nbsp;
                                                                <span class="badge badge-secondary">
                                                                            {{stat.sum_ratings}}
                                                                        </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                Number of user likes&nbsp;
                                                                <span class="badge badge-secondary">
                                                                            {{stat.count_likes}}
                                                                        </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                Number of comments&nbsp;
                                                                <span class="badge badge-secondary">
                                                                    {{stat.count_comments}}
                                                                        </span>
                                                                {% if stat.count_comments > 0 %}
                                                                <a href="#view-comments-{{key}}"
                                                                   class="btn btn-outline-primary btn-sm d-block-inline ml-2"
                                                                   data-toggle="collapse">
                                                                    <span>View...</span>
                                                                </a>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                <div class="container collapse"
                                                                     id="view-comments-{{key}}">
                                                                    {% include 'components/comments_bar.html' %}
                                                                </div>
                                                            </li>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </ul>

                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        {% include 'components/rating_bar.html' %}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </article>
                </div>

            </div>
            {% else %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <h5>No Data Entry</h5>
                        <p>Your current selection or search returned an empty result</p>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="col-md-3">
            {% include 'components/time_search.html' %}
        </div>
    </div>
</div>