{% load static %}
<div class="container">
    {% if not request.user.is_authenticated %}
    <div class="row mb-5">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h5>Annonymous User</h5>
                <p>You are currently not logged in.
                    <a href="{% url 'start-on-boarding' %}">Register</a> or <a href="{% url 'user-login' %}">login</a>
                    to apply for advertised job roles or access other career services.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-9">
            {% if objects %}
            <div class="row">
                <div class="col">
                    {% if year %}
                    <h5 class="text-justify">Programme directory for the selected year: {{year.year}}</h5>
                    {% endif %}
                    {% if search_result %}
                    <div class="form-group">
                        <a href="{% url 'tsa-programmes' %}" class="btn btn-primary">Clear Search</a>
                    </div>
                    {% endif %}
                    <article>
                        {% for object in objects %}
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <a role="button" href="{# url 'report-advert' object.urlsafe_uuid #}"
                                           class="float-right d-block"
                                           title="Report"><span><i class="fa fa-ellipsis-v"></i></span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5 class="salutation">{{object.programme_name}} </h5>
                                        {% if object.media %}
                                        {% include 'components/programme_media_entry.html' %}
                                        {% else %}
                                        {% include 'components/programme_entry.html' %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer px-0 card-linear-gradient">
                                <ul class="list-group">
                                    <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0 border-bottom-0">
                                        <div class="row description">
                                            <div class="col-12">
                                        <ul class="list-inline">
                                   <li class="list-inline-item description">
                                                <strong>Programme start</strong>
                                                <span>{{object.programme_start|date:"D d M Y"}}</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <strong>Programme end</strong>
                                                        <span>{{object.programme_end|date:"D d M Y"}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                        </div>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="list-group-item bg-transparent border-right-0 border-left-0 border-bottom-0">
                                        <div class="row">
                                    <div class="col">
                                        <div class="p-3">
                                            <a class="collapse-btn text-primary" type="button" title="Click to Rate" data-toggle="collapse"
                                                    data-target="#rate_box_{{object.urlsafe_uuid}}"
                                                    aria-expanded="false"
                                                    aria-controls="rate_box_{{object.urlsafe_uuid}}">
                                                Rate&nbsp;<i class="fa fa-smile-o">&nbsp;</i>
                                            </a>
                                        </div>
                                        <div class="collapse" id="rate_box_{{object.urlsafe_uuid}}">
                                            <div class="card card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <ul class="list-inline pb-4 my-2">
                                                            {% for key, stat in statistics.items %}
                                                            {% if key == object.urlsafe_uuid %}
                                                            <li class="list-inline-item">
                                                                Your Rating
                                                                {% if stat.user_rating %}
                                                                <span class="badge badge-secondary">
                                                                    {{stat.user_rating.rating}}
                                                                </span>
                                                                {% else %}
                                                                <span class="badge badge-secondary">
                                                                    None
                                                                </span>
                                                                {% endif %}
                                                            </li>
                                                            <li class="list-inline-item">
                                                                Total ratings
                                                                <span class="badge badge-secondary">
                                                                            {{stat.sum_ratings}}
                                                                        </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                Count likes&nbsp;
                                                                <span class="badge badge-secondary">
                                                                            {{stat.count_likes}}
                                                                        </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                Count comments&nbsp;

                                                                <span class="badge badge-secondary">
                                                                    {{stat.count_comments}}
                                                                        </span>
                                                                {% if stat.count_comments > 0 %}
                                                                <a href="#view-comments-{{key}}"
                                                                   class="btn btn-outline-primary btn-sm d-block-inline ml-2"
                                                                   data-toggle="collapse">
                                                                    <span>View...</span>
                                                                </a>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                <div class="container collapse"
                                                                     id="view-comments-{{key}}">
                                                                    {% include 'components/comments_bar.html' %}
                                                                </div>
                                                            </li>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </ul>

                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        {% include 'components/entity_rating_bar.html' %}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                    </li>
                                    {% endif %}
                                </ul>

                            </div>
                        </div>
                        {% endfor %}
                    </article>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <h5>No Data Entry</h5>
                        <p>Your current selection or search returned an empty result</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col form-group">
                        <a href="{% url 'tsa-programmes' %}" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% include 'components/time_search.html' %}
        </div>
    </div>
</div>