{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load generate_random %}

{% block content %}
<section class="mt-5 pt-5">
    <h3>TSA Programme Directory</h3>
    <div class="row">
        <div class="col">
            <form class="form-inline" method="post">
                {% csrf_token %}
                <input type="hidden" value="{% generate_random %}" name="search_form">
                <div class="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Search"
                               aria-describedby="basic-search" id="search" name="search"
                               placeholder="Search for programmes" width="80%">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="search-button">
                                <span><i class="fa fa-search">&nbsp&nbsp;</i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% if searches %}
        <div class="col-md-12">
            {% include 'components/programme_search_result.html' %}
        </div>
        {% else %}
        <div class="col-md-12">
            {% include 'feeds/public/programmes_by_time.html' %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}