{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-7 col-sm-12">
        <img src="{% static 'img/Group 44@x2.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>
    <div class="col-lg-5 col-sm-12">
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-group">
                <small id="hint_id_email" class="form-text text-muted">Enter your registered email if you wish to reset
                password</small>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
