{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-7 col-sm-12">
    <img src="{% static 'img/Group 45@2x.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>
    <div class="col-lg-5 col-sm-12">
        <h3>Reset successful</h3>
        <p>Your password has been successfully updated</p>
        <p>You can <a href="{% url 'user-login' %}" class="font-weight-bold">login</a> with your new password</p>
    </div>
</div>

{% endblock %}
