{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-7 col-sm-12">
    <img src="{% static 'img/Group 45@2x.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>
    <div class="col-lg-5 col-sm-12">
        <h3>Password reset</h3>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
