{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-7 col-sm-12">
    <img src="{% static 'img/Group 45@2x.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>
    <div class="col-lg-5 col-sm-12">
        <h3>Password reset</h3>
        <p>Password reset link has been sent to registered email address.</p>
        <p>Follow the link in your email to reset your password</p>
        <ul class="list-inline mt-3 border-top pt-5">
            <li class="list-inline-item px-3">
                <a href="{% url 'user-login' %}" class="font-weight-bold">Login</a>
            </li>
            <li class="list-inline-item px-3">
                <a href="{% url 'tsa-home' %}" class="font-weight-bold">Home</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
