{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="published-section">
    {% if articles %}
    {% for entry in articles %}
    {% include entry.wall %}
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'img/password.png' %}" alt="Access Denied" class="img-thumbnail mx-auto access-icon" />
        </div>
        <div class="col-sm-9">
            <div class="alert alert-info" role="alert">
        <h5 class="text-center">No Entry
            <span class="small text-info d-block">There is no entry for this
            section&nbsp;<i class="fa fa-ban text-danger"></i></span>
        </h5>
        <p class="text-justify">The selected TSA member may not have shared this content with your or made it available
            for public
            view!</p>
    </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}