/* Modification of the TSA website styles */

.nav-pills .tab-link.active, .nav-pills .show > .nav-link {
	color: #000;
	border-bottom-color: #007bff;
	border-bottom-style: solid;
}

.nav-pills .tab-link {
    padding: 0rem 0rem 0.25rem;
    margin: 0 0.5rem;
    border-radius: 0rem;
}

.tab-link:focus, .tab-link:hover {
	text-decoration: none;
	color: #007bff;
}
.profile-entry {
    margin: 50px auto 5px;
}
.profile-entry .profile-entry-record {
    border-top: 1px solid rgba(0,0,0,.19);
    padding: 1.5rem 0rem;
    margin: 0.5rem 0rem;
}
.profile-entry .profile-entry-record h5{
    font-weight: 300 !important;
}
.disclaimer {
    padding: 0.8rem 0.8rem 0.2rem 0rem;
    font-size: 0.95rem;
    font-weight: 100;
}

.topbar {
    margin-bottom: 10px;
}

ul.shareable {
  position: -webkit-sticky;
  position: fixed;
  top: 35%;
  right: 0px;
  width: 50px;
}
ul.shareable div {
    margin: 0px;
}
ul.shareable .nav-item, ul.shareable ul.list-group .list-group-item {
  padding: 0px;
  margin: 10px 0px 0px;
  width: 48px;
  height: 48px;
  border: 0px none !important;
}
ul.shareable li.last {
  margin-top: 10px;
}
ul.shareable li .sharebox {
   margin: 0px !important;
}
@media (max-width:768px) {
    ul.shareable {
        display: none;
        visibility: hidden;
    }
}

#account-btn, #login-btn {
    color: #fefefe !important;
    background-color: #fd4d00 !important;
}
#account-btn:hover, #login-btn:hover {
    color: #404040 !important;
    background-color: #fd8c00 !important;
}
.user-profile-header {
    background-color: #fff;
    padding: 3rem 0rem 1.5rem !important;
    margin-bottom: 0rem;

}

.sidebar-right {
    background-color: #fafafa;
    padding: 3rem 1rem 1rem !important;
}
.sidebar-right h1, .sidebar-right h2, .sidebar-right h3, .sidebar-right h4, .sidebar-right h5, .sidebar-right h6 {
    text-align: center;
    margin-top: 0.5rem;
}

.card-body .command-bar {
}
.profile-avatar {
    max-height: 208px !important;
}
.salutation {
    font-weight: bold;
    color: #413e66;
}
.description {
 font-weight: normal;
 font-size: 0.85rem;
}
.card-linear-gradient {
    background-image: linear-gradient(to bottom, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7,#e8e8e8, #cacaca);
}
.messages {
    position: relative;
    top: 10%;
    margin: auto;
}
ul.messages li {
    background: transparent none;
}
.search h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}
.cv-list li dt{
    color: #999;
    font-weight: 500;
    font-size: 1.15rem;
}

.sidebar-left {
    background-color: #fafafa;
    hegiht: 100vh;
}

.sidebar-left .nav .nav-item {
    padding: 0.5rem;
    margin: 10px 5px 0px 0px;
    border-radius: 0rem;
}
section.user-profile {
    padding-bottom: 3rem !important;
    margin: 3rem auto !important;
    border-bottom: 1px solid #dee2e6 !important;
}
thead tr th {
    font-weight: bold;
    font-size: 1rem;
}

.alert {
    margin-top: 3rem!important;
}
.entry-card .card-footer {
    background-color: transparent none !important;
}
.entry-card-footer {
    background-color: transparent !important;
}
.access-icon {
    position: relative;
    top: 45%;
    left: 20%;
}

#guiding-principles, foundational-statements {
    padding: 60px 0;
}

#guiding-principles h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}