{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Job Application</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Reason for application</dt>
                        <dd>{{entry.article.application_reason}}</dd>
                        <dt>Application date</dt>
                        <dd>{{entry.article.application_datetime|date:"D d M Y"}}</dd>
                        <dt>Application documents</dt>
                        <dd>
                            <p>View other information used for this job application</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p>User CV</p>
                                    <a href="{% url 'profile_management:user-c-v-detail' entry.article.application_cv.slug %}">
                                        CV link
                                    </a>
                                    <p class="small">Click link to view application CV</p>
                                </li>
                                <li class="list-group-item">
                                    <p>Uploaded document</p>
                                    <strong>File hash</strong>&nbsp;<a href="{% url 'util:user-uploaded-document-detail' entry.article.application_document.urlsafe_uuid %}">
                                         {{entry.article.application_document.file_hash}}
                                    </a>
                                    <p class="small">Click link to view or download file</p>
                                </li>
                            </ul>
                        </dd>
                    </dl>

                </div>
            </div>

        </div>

    </div>
</article>