{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <!-- Paginated entry -->
        <ul class="list-group">
            {% for follower in page_obj %}
            <li class="list-item">
                <article class="social-record">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{follower.avatar.media}}" alt="Avatar" class="img-thumb" width="64px">
                                <span>{{follower.first_name|capfirst}}, {{follower.last_name|upper}}</span>
                            </div>
                        </div>
                        <h5>Member since {{follower.date_joined|date:"D d M Y"}}</h5>
                        <dl class="col-12">
                            <dt>Username</dt>
                            <dd class="font-weight-bold">{{follower.username}}</dd>
                        </dl>
                        <p>{{follower.autobiography}}</p>

                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="row border-bottom">
                                    <div class="col">
                                        {% if follower.avatar %}
                                        <img src="{{ follower.avatar.media.url }}" alt="User avatar or passport"
                                             width="185"
                                             height="200"
                                             class="img-thumbnail d-block mx-auto"
                                        >
                                        {% else %}
                                        <div class="alert alert-info" role="alert">
                                            No avatar registered
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>
                                <ul class="list-inline pn-2">
                                    <li class="list-inline-item"><a href="#" class="small">Followers</a></li>
                                    <li class="list-inline-item"><a href="#" class="small">Following</a></li>
                                    <li class="list-inline-item"><a href="#" class="small">Profile</a></li>
                                    <li class="list-inline-item"><a href="#" class="small">Achievements</a></li>
                                    <li class="list-inline-item"><a href="#" class="small">Scholarship</a></li>
                                    <li class="list-inline-item"><a href="#" class="small">Ranking</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <ul class="list-inline float-right">
                            <!-- @todo: Like via ajax request. Retrieve logged in user and id of member -->
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}
