{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'volunteer:volunteer-course-application-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Volunteer Course Application Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Volunteer Course</dt>
                        <dd class="col-sm-9 py-3">{{ object.volunteer_course.course_name }}</dd>
                        <dt class="col-sm-3 py-3">Application Reason</dt>
                        <dd class="col-sm-9 py-3">{{ object.application_reason }}</dd>
                        <dt class="col-sm-3 py-3">Volunteer</dt>
                        <dd class="col-sm-9 py-3">{{ object.volunteer }}</dd>
                        <dt class="col-sm-3 py-3">Application Datetime</dt>
                        <dd class="col-sm-9 py-3">{{ object.application_datetime }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'volunteer:volunteer-course-application-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'volunteer:volunteer-course-application-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
