{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'volunteer:volunteer-course-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Volunteer Course Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Course Owners</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_owners }}</dd>
                        <dt class="col-sm-3 py-3">Course Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_name }}</dd>
                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.description }}</dd>
                        <dt class="col-sm-3 py-3">Course Goals</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_goals }}</dd>
                        <dt class="col-sm-3 py-3">Enable Volunteering</dt>
                        <dd class="col-sm-9 py-3">{{ object.enable_volunteering }}</dd>
                        <dt class="col-sm-3 py-3">Kpi</dt>
                        <dd class="col-sm-9 py-3">{{ object.kpi }}</dd>

                        <dt class="col-sm-3 py-3">Publish Course</dt>
                        <dd class="col-sm-9 py-3">{{ object.publish_course }}</dd>


                        <dt class="col-sm-3 py-3">Course Start</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_start }}</dd>
                        <dt class="col-sm-3 py-3">Course End</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_end }}</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'volunteer:volunteer-course-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'volunteer:volunteer-course-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
