{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>
        User Profile
        <img src="{% static 'img/goal@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3"
             alt="Achievement">
    </h3>

</section>

<section class="profile-entry">
    {% if not achievements %}
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#scholarshipBox"
                            role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Scholarship profile management</h5>
                    <p>Manage the various scholarship records under your account</p>
                </div>
                <div id="scholarshipBox" class="collapse container">
                    {# include 'profile_management/scholarship_profile_list.html' #}
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <a class="btn btn-primary float-right" data-toggle="collapse" data-target="#testimonialBox"
                            role="button" aria-expanded="false" aria-controls="collapseScholarship"
                       href="{% url 'profile_management:testimonial-list' %}">
                        Manage
                    </a>
                    <h5>Testimonials</h5>
                    <p>Give feedback on the quality of scholarship and educational services enjoyed from TEPNG</p>
                </div>
                <div id="testimonialBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#skillBox"
                            role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Skill management</h5>
                    <p>Improve your profile by listing both professional and soft skills you have</p>
                </div>
                <div id="skillBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#communityBox"
                            role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Community of Origin</h5>
                    <p>Add details of indigenous community</p>
                </div>
                <div id="communityBox" class="collapse container">
                    {# include 'profile_management/scholarship_profile_list.html' #}
                </div>
            </article>
        </div>
    </div>
    {% else %}
    <div class="row">
        Render the achievements
    </div>
    {% endif %}
</section>