{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>
        Mentoring
        <img src="{% static 'img/help@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3" alt="Mentoring">
    </h3>
</section>
{% comment 'Generate paginated content' %}
{% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}
{% endcomment %}
<section class="profile-entry">
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#programmeBox"
                       role="button" aria-expanded="false" aria-controls="collapseProgramme">
                        Manage
                    </button>
                    <h5>Mentoring</h5>
                    <p>View or manage mentoring programmes registered against your profile</p>
                </div>
                <div id="programmeBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#mentorsBox"
                       role="button" aria-expanded="false" aria-controls="collapseMentors">
                        Manage
                    </button>
                    <h5>Mentors</h5>
                    <p>View trainers or mentors for various programmes</p>
                </div>
                <div id="mentorsBox" class="collapse container">
                    <div class="row">
                        <div class="col-12">
                            Content
                        </div>
                    </div>
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#studentsBox"
                       role="button" aria-expanded="false" aria-controls="collapseStudents">
                        Manage
                    </button>
                    <h5>Students</h5>
                    <p>View students for various programmes you are a trainer</p>
                </div>
                <div id="studentsBox" class="collapse container">
                    content
                    {# include 'profile_management/scholarship_profile_list.html' #}
                </div>
            </article>
        </div>
    </div>
</section>