{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        {% if not notifications %}
        <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h3>No available Notices!</h3>
                You currently do not have any new notice at the moment
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% else %}
        <div class="col-12 mt-5">
            <h5>Notifications</h5>
            <p>List of your activities and announcements on the TSA platform are shown below</p>
            <p>User may respond to a notice or activity using the RESPOND button</p>

            <div class="card card-body">
                <ul class="list-inline">
                    <li class="list-inline-item ">
                        Notifications from
                        <strong>Start: </strong>{{notice_start_date|date:"D d M Y"}}
                    </li>
                    <li class="list-inline-item ">
                        <strong>End: </strong>{{notice_end_date|date:"D d M Y"}}
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-12">
            <table class="table table-strip datatable">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Reason</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for notice in notifications %}
                <tr>
                    <td>{{notice.created_at}}</td>
                    <td>{{notice.notification_reason}}</td>
                    <td>{{notice.message}}</td>
                    <td>
                        <div class="p-3">
                            <button id="{{notice.urlsafe_uuid}}" class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#staticBackdrop" onclick="$('input#notification').attr('value', $(this).attr('id')); ">
                                Respond
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="response-box">
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Response to Notice</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Comment on notice or send information to TSA admin team regarding this notice.
                                </p>

                                    {% csrf_token %}
                                    <input type="hidden" id="notification" name="notification">
                                    <div class="form-group">
                                        <label for="acknowledgement">Acknowledgement or Comment</label>
                                        <textarea class="form-control" id="acknowledgement" name="acknowledgement" rows="5">
                                        </textarea>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="is_public" name="is_public" placeholder="">
                                        <label for="is_public" class="form-check-label">Make public</label>
                                        <p class="small">Check if you wish this response to be seen by other members</p>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="is_shareable" name="is_shareable" placeholder="">
                                        <label for="is_shareable" class="form-check-label">Enable sharing</label>
                                        <p class="small">Check if you wish this response to be shared by other members</p>
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Acknowledge</button>
                            </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
