{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>Social
        Network<img src="{% static 'img/like@2x.png' %}"
                    class="d-block-inline align-middle img-thumbnail ml-3"
                    alt="Social Network"></h3>
</section>
<section class="profile-entry">
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#avatarBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Avatar or photo</h5>
                    <p>Upload or edit your passport photograph or avatar you wish to use against your profile</p>
                </div>
                <div id="avatarBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#userDataBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Bio data</h5>
                    <p>Manage your public identity and other personal data</p>
                </div>
                <div id="userDataBox" class="collapse container">
                    <div class="row">
                        <div class="col-12">
                            Content
                        </div>
                    </div>
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#addressBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Contact address</h5>
                    <p>Manage your various addresses registered against your account or add a new address here</p>
                </div>
                <div id="addressBox" class="collapse container">
                    content
                    {# include 'profile_management/scholarship_profile_list.html' #}
                </div>
            </article>

            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#institutionBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Institution</h5>
                    <p>Manage businesses or organisations registered against your profile</p>
                </div>
                <div id="institutionBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>

        </div>
    </div>
</section>