{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>
        Career
        <img src="{% static 'img/seo-and-web@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3"
             alt="Career">
    </h3>
</section>
{% comment 'Generate paginated content' %}
{% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}
{% endcomment %}
<section class="profile-entry">
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#jobPostingBox"
                       role="button" aria-expanded="false" aria-controls="collapseJobPosting">
                        Manage
                    </button>
                    <h5>Job Postings</h5>
                    <p>Apply for advertised jobs from TEPNG, her affiliates and other organisations</p>
                </div>
                <div id="jobPostingBox" class="collapse container">
                    Content
                    {# include '' #}
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#jobApplicationBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Job Applications</h5>
                    <p>Manage your job applications</p>
                </div>
                <div id="jobApplicationBox" class="collapse container">
                    <div class="row">
                        <div class="col-12">
                            Content
                        </div>
                    </div>
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#manageCVBox"
                       role="button" aria-expanded="false" aria-controls="collapseScholarship">
                        Manage
                    </button>
                    <h5>Manage CV</h5>
                    <p>Improve your chances of being searched by prospective employers by uploading your CV or
                        creating one online.</p>
                </div>
                <div id="manageCVBox" class="collapse container">
                    CV content
                </div>
            </article>
        </div>
    </div>
</section>