{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>
        Volunteer
        <img src="{% static 'img/donation@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3" alt="Volunteer">
    </h3>

</section>
<section class="profile-entry">
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#courseBox"
                       role="button" aria-expanded="false" aria-controls="collapseCourse">
                        Manage
                    </button>
                    <h5>Volunteer Course</h5>
                    <p>View various courses for which you may volunteer and give back to humanity</p>
                </div>
                <div id="courseBox" class="collapse container">
                    Content of scholarship included here
                </div>
            </article>
            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" data-toggle="collapse" data-target="#applicationBox"
                       role="button" aria-expanded="false" aria-controls="collapseApplication">
                        Manage
                    </button>
                    <h5>Application</h5>
                    <p>Manage your applications to various projects you have volunteered</p>
                </div>
                <div id="applicationBox" class="collapse container">
                    <div class="row">
                        <div class="col-12">
                            Content
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>