{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>
        Achievements
        <img src="{% static 'img/goal@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3"
             alt="Achievement">
    </h3>

</section>

<section class="profile-entry">
    {% if not achievements %}
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                    <a class="btn btn-primary float-right" role="button"
                       href="{% url 'achievement:academic-graduation-list' %}">
                        Manage
                    </a>
                    <h5>Graduation</h5>
                    <p>Add or view your graduation records from various institutions and programmes</p>
                </div>

            </article>


            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" role="button">
                        Manage
                    </button>
                    <h5>Achievements</h5>
                    <p>Addd or view life and academic achivements</p>
                </div>

            </article>

            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" role="button">
                        Manage
                    </button>
                    <h5>References</h5>
                    <p>Add or view references for recorded achievements</p>
                </div>

            </article>

            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" role="button">
                        Manage
                    </button>
                    <h5>Awarded Qualifications</h5>
                    <p>Add or view awarded qualifications</p>
                </div>

            </article>

            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" role="button">
                        Manage
                    </button>
                    <h5>Work Experience</h5>
                    <p>Add or view work epxerience</p>
                </div>

            </article>

            <article class="profile-entry-record">
                <div class="container">
                    <button class="btn btn-primary float-right" role="button">
                        Manage
                    </button>
                    <h5>Graduation</h5>
                    <p>View other members ratings of your profile, skills, and other achievements</p>
                </div>

            </article>
        </div>
    </div>
    {% else %}
    <div class="row">
        Render the achievements
    </div>
    {% endif %}
</section>