{% load static %}
{% load crispy_forms_tags %}

<section class=" mt-5 pt-5">
    <h3>Social Network<img src="{% static 'img/like@2x.png' %}"
                    class="d-block-inline align-middle img-thumbnail ml-3"
                    alt="Social Network"></h3>
</section>
<section class="profile-entry">
    <div class="row">
        <div class="col-12">
            <article class="profile-entry-record">
                <div class="container">
                </div>
            </article>
        </div>
    </div>
</section>