{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'career:job-posting-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">JobPosting Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Title</dt>
                        <dd class="col-sm-9 py-3">{{ object.title }}</dd>

                        <dt class="col-sm-3 py-3">Required Qualification Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.required_qualification_description }}</dd>

                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.description }}</dd>
                        <dt class="col-sm-3 py-3">Min Work Experience</dt>
                        <dd class="col-sm-9 py-3">{{ object.min_work_experience }}</dd>
                        <dt class="col-sm-3 py-3">Required Qualification</dt>
                        <dd class="col-sm-9 py-3">{{ object.required_qualification }}</dd>

                        <dt class="col-sm-3 py-3">Source</dt>
                        <dd class="col-sm-9 py-3">{{ object.source }}</dd>

                        <dt class="col-sm-3 py-3">Is Volunteer Job</dt>
                        <dd class="col-sm-9 py-3">{{ object.is_volunteer_job|yesno:'Yes, No' }}</dd>
                        <dt class="col-sm-3 py-3">Created At</dt>
                        <dd class="col-sm-9 py-3">{{ object.created_at }}</dd>
                        <dt class="col-sm-3 py-3">Last Modified At</dt>
                        <dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd>

                    </dl>
                    <section>
                        <dt class="col-sm-3 py-3">Approvals</dt>
                        <dd class="col-sm-9 py-3">{{ object.approvals }}</dd>
                    </section>
                    <section>
                        <dt class="col-sm-3 py-3">Application Document</dt>
                        <dd class="col-sm-9 py-3">{{ object.application_document }}</dd>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'career:job-posting-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'career:job-posting-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
