{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'career:job-application-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">JobApplication Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Job Posting</dt>
                        <dd class="col-sm-9 py-3">{{ object.job_posting.title }}</dd>

                        <dt class="col-sm-3 py-3">Application Reason</dt>
                        <dd class="col-sm-9 py-3">{{ object.application_reason }}</dd>
                        <dt class="col-sm-3 py-3">Applicant</dt>
                        <dd class="col-sm-9 py-3">{{ object.applicant }}</dd>

                        <dt class="col-sm-3 py-3">Application Datetime</dt>
                        <dd class="col-sm-9 py-3">{{ object.application_datetime }}</dd>
                    </dl>
                    <section>
                        {% include 'components/entity_media_entry.html' with object=object.application_document %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'career:job-application-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'career:job-application-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
