{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'mentorship:mentoring-programme-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Mentoring Programme Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Programme Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme_name }}</dd>
                        <dt class="col-sm-3 py-3">Programme Start</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme_start }}</dd>
                        <dt class="col-sm-3 py-3">Programme End</dt>
                        <dd class="col-sm-9 py-3">{{ object.programme_end }}</dd>
                        <dt class="col-sm-3 py-3">Objectives</dt>
                        <dd class="col-sm-9 py-3">{{ object.objectives }}</dd>
                    </dl>
                    <section>
                        {% include 'components/entity_media_entry.html' with object=object.media %}
                    </section>
                    <section>

                        {% if object.mentoring_session.all %}
                        <h6 class="card card-header">Mentoring Sessions</h6>
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled ">
                                        {% for m_session in object.mentoring_session.all %}
                                        <li class="list-item my-3">
                                            <div class="card entry-card">
                                                <div class="card-body">{{m_session.event_comment}}</div>
                                                <div class="card-footer entry-card-footer">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><strong>Title</strong>&nbsp;
                                                            {{m_session.event_name}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>Event date &
                                                            time</strong>&nbsp;
                                                            {{m_session.event_start}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'mentorship:mentoring-programme-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'mentorship:mentoring-programme-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
