
{% extends "base.html" %}
{% load static %}
{% block content %}
{% if object_list %}
    <div class="container my-5">
    <div class="row">
        <div class="col">    
            <table class="table table-striped table-bordered table-responsive table-sm data-table">
                <thead class="thead-dark">
                <tr><th>House Number</th><th>House Name</th><th>Institution</th><th>Description</th><th>Country</th><th>Alt Emails</th><th>Street Address</th><th>Post Code</th><th>Web</th><th>Is Primary Address</th><th>Is Proxy Address</th><th>Is Residential Address</th><th>Business Party</th><th>Forwarding Address</th><th>State</th><th>City</th><th>Owners</th><th>Is Work Address</th><th>Actions</th></tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <!-- Rendered content with action buttons -->
                        <td>{{object.house_number}}</td><td>{{object.house_name}}</td><td>{{object.institution}}</td><td>{{object.description}}</td><td>{{object.country}}</td><td>{{object.alt_emails}}</td><td>{{object.street_address}}</td><td>{{object.post_code}}</td><td>{{object.web}}</td><td>{{object.is_primary_address}}</td><td>{{object.is_proxy_address}}</td><td>{{object.is_residential_address}}</td><td>{{object.business_party}}</td><td>{{object.forwarding_address}}</td><td>{{object.state}}</td><td>{{object.city}}</td><td>{{object.owners}}</td><td>{{object.is_work_address}}</td>
<td>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'util:address-detail' object.slug %}" class="cmd 
                cmd-detail" data-toggle="tooltip" title="View"><i class="fa fa-search-plus">&nbsp;</i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'util:address-update' object.slug %}" class="cmd cmd-edit" data-toggle="tooltip" 
title="Edit">
                <i class="fa fa-edit">&nbsp;</i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'util:address-delete' object.slug %}" class="cmd 
            cmd-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash">&nbsp;</i>
            </a>
        </li>
    </ul>
</td>
                        
                    </tr>
                {% endfor %}        
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">

            <div class="alert alert-info alert-dismissible fade show" role="alert">
               <h5>No record exists for selected entity</h5>
              <p>You may create new record using the ADD command </p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="col">                    
               <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="btn btn-primary" 
                    href="{% url 'util:address-create' %}" >Add</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-primary" 
                        href="{{ request.META.HTTP_REFERER }}">
                        Back
                    </a>
                  </li>                      
                </ul>                    
            </div>          
        </div>        
    </div>
    </div>
    {% endif %}
    {% endblock %}
