
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:address-list' %}">View All Address
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Address Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">House Number</dt><dd class="col-sm-9 py-3">{{ object.house_number }}</dd><dt class="col-sm-3 py-3">House Name</dt><dd class="col-sm-9 py-3">{{ object.house_name }}</dd><dt class="col-sm-3 py-3">Institution</dt><dd class="col-sm-9 py-3">{{ object.institution }}</dd><dt class="col-sm-3 py-3">Description</dt><dd class="col-sm-9 py-3">{{ object.description }}</dd><dt class="col-sm-3 py-3">Country</dt><dd class="col-sm-9 py-3">{{ object.country }}</dd><dt class="col-sm-3 py-3">Alt Emails</dt><dd class="col-sm-9 py-3">{{ object.alt_emails }}</dd><dt class="col-sm-3 py-3">Street Address</dt><dd class="col-sm-9 py-3">{{ object.street_address }}</dd><dt class="col-sm-3 py-3">Post Code</dt><dd class="col-sm-9 py-3">{{ object.post_code }}</dd><dt class="col-sm-3 py-3">Web</dt><dd class="col-sm-9 py-3">{{ object.web }}</dd><dt class="col-sm-3 py-3">Is Primary Address</dt><dd class="col-sm-9 py-3">{{ object.is_primary_address }}</dd><dt class="col-sm-3 py-3">Is Proxy Address</dt><dd class="col-sm-9 py-3">{{ object.is_proxy_address }}</dd><dt class="col-sm-3 py-3">Is Residential Address</dt><dd class="col-sm-9 py-3">{{ object.is_residential_address }}</dd><dt class="col-sm-3 py-3">Business Party</dt><dd class="col-sm-9 py-3">{{ object.business_party }}</dd><dt class="col-sm-3 py-3">Forwarding Address</dt><dd class="col-sm-9 py-3">{{ object.forwarding_address }}</dd><dt class="col-sm-3 py-3">State</dt><dd class="col-sm-9 py-3">{{ object.state }}</dd><dt class="col-sm-3 py-3">City</dt><dd class="col-sm-9 py-3">{{ object.city }}</dd><dt class="col-sm-3 py-3">Owners</dt><dd class="col-sm-9 py-3">{{ object.owners }}</dd><dt class="col-sm-3 py-3">Is Work Address</dt><dd class="col-sm-9 py-3">{{ object.is_work_address }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:address-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:address-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
