
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:approval-list' %}">View All Approval
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Approval Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Created At</dt><dd class="col-sm-9 py-3">{{ object.created_at }}</dd><dt class="col-sm-3 py-3">Approval Status</dt><dd class="col-sm-9 py-3">{{ object.approval_status }}</dd><dt class="col-sm-3 py-3">Approved On</dt><dd class="col-sm-9 py-3">{{ object.approved_on }}</dd><dt class="col-sm-3 py-3">Last Modified At</dt><dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd><dt class="col-sm-3 py-3">Volunteer Course</dt><dd class="col-sm-9 py-3">{{ object.volunteer_course }}</dd><dt class="col-sm-3 py-3">Testimony</dt><dd class="col-sm-9 py-3">{{ object.testimony }}</dd><dt class="col-sm-3 py-3">Job Posting</dt><dd class="col-sm-9 py-3">{{ object.job_posting }}</dd><dt class="col-sm-3 py-3">Course Application</dt><dd class="col-sm-9 py-3">{{ object.course_application }}</dd><dt class="col-sm-3 py-3">Approved Till</dt><dd class="col-sm-9 py-3">{{ object.approved_till }}</dd><dt class="col-sm-3 py-3">Approved By</dt><dd class="col-sm-9 py-3">{{ object.approved_by }}</dd><dt class="col-sm-3 py-3">Approved Through</dt><dd class="col-sm-9 py-3">{{ object.approved_through }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:approval-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:approval-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
