
{% extends "base.html" %}
{% load static %}
{% block content %}
{% if object_list %}
    <div class="container my-5">
    <div class="row">
        <div class="col">    
            <table class="table table-striped table-bordered table-responsive table-sm data-table">
                <thead class="thead-dark">
                <tr><th>Created At</th><th>Approval Status</th><th>Approved On</th><th>Last Modified At</th><th>Volunteer Course</th><th>Testimony</th><th>Job Posting</th><th>Course Application</th><th>Approved Till</th><th>Approved By</th><th>Approved Through</th><th>Actions</th></tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <!-- Rendered content with action buttons -->
                        <td>{{object.created_at}}</td><td>{{object.approval_status}}</td><td>{{object.approved_on}}</td><td>{{object.last_modified_at}}</td><td>{{object.volunteer_course}}</td><td>{{object.testimony}}</td><td>{{object.job_posting}}</td><td>{{object.course_application}}</td><td>{{object.approved_till}}</td><td>{{object.approved_by}}</td><td>{{object.approved_through}}</td>
<td>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'util:approval-detail' object.slug %}" class="cmd 
                cmd-detail" data-toggle="tooltip" title="View"><i class="fa fa-search-plus">&nbsp;</i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'util:approval-update' object.slug %}" class="cmd cmd-edit" data-toggle="tooltip" 
title="Edit">
                <i class="fa fa-edit">&nbsp;</i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'util:approval-delete' object.slug %}" class="cmd 
            cmd-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash">&nbsp;</i>
            </a>
        </li>
    </ul>
</td>
                        
                    </tr>
                {% endfor %}        
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">

            <div class="alert alert-info alert-dismissible fade show" role="alert">
               <h5>No record exists for selected entity</h5>
              <p>You may create new record using the ADD command </p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="col">                    
               <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="btn btn-primary" 
                    href="{% url 'util:approval-create' %}" >Add</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-primary" 
                        href="{{ request.META.HTTP_REFERER }}">
                        Back
                    </a>
                  </li>                      
                </ul>                    
            </div>          
        </div>        
    </div>
    </div>
    {% endif %}
    {% endblock %}
