
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:institution-list' %}">View All Institution
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Institution Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Contact</dt><dd class="col-sm-9 py-3">{{ object.contact }}</dd><dt class="col-sm-3 py-3">Educationhistory</dt><dd class="col-sm-9 py-3">{{ object.educationhistory }}</dd><dt class="col-sm-3 py-3">Addresses</dt><dd class="col-sm-9 py-3">{{ object.addresses }}</dd><dt class="col-sm-3 py-3">Institution Name</dt><dd class="col-sm-9 py-3">{{ object.institution_name }}</dd><dt class="col-sm-3 py-3">Is Academic</dt><dd class="col-sm-9 py-3">{{ object.is_academic }}</dd><dt class="col-sm-3 py-3">Qualification</dt><dd class="col-sm-9 py-3">{{ object.qualification }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:institution-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:institution-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
