
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:notification-list' %}">View All Notification
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Notification Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Created At</dt><dd class="col-sm-9 py-3">{{ object.created_at }}</dd><dt class="col-sm-3 py-3">Notification Code</dt><dd class="col-sm-9 py-3">{{ object.notification_code }}</dd><dt class="col-sm-3 py-3">Notificationresponse</dt><dd class="col-sm-9 py-3">{{ object.notificationresponse }}</dd><dt class="col-sm-3 py-3">Header</dt><dd class="col-sm-9 py-3">{{ object.header }}</dd><dt class="col-sm-3 py-3">Message</dt><dd class="col-sm-9 py-3">{{ object.message }}</dd><dt class="col-sm-3 py-3">Recipients</dt><dd class="col-sm-9 py-3">{{ object.recipients }}</dd><dt class="col-sm-3 py-3">Last Modified At</dt><dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd><dt class="col-sm-3 py-3">Notification Reason</dt><dd class="col-sm-9 py-3">{{ object.notification_reason }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:notification-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:notification-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
