
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:notification-response-list' %}">View All NotificationResponse
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">NotificationResponse Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Recipient</dt><dd class="col-sm-9 py-3">{{ object.recipient }}</dd><dt class="col-sm-3 py-3">Response Datetime</dt><dd class="col-sm-9 py-3">{{ object.response_datetime }}</dd><dt class="col-sm-3 py-3">Notification</dt><dd class="col-sm-9 py-3">{{ object.notification }}</dd><dt class="col-sm-3 py-3">Acknowledgement</dt><dd class="col-sm-9 py-3">{{ object.acknowledgement }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:notification-response-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:notification-response-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
