
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:signature-list' %}">View All Signature
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Signature Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Created At</dt><dd class="col-sm-9 py-3">{{ object.created_at }}</dd><dt class="col-sm-3 py-3">Last Modified At</dt><dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd><dt class="col-sm-3 py-3">Signature Hash</dt><dd class="col-sm-9 py-3">{{ object.signature_hash }}</dd><dt class="col-sm-3 py-3">Signature Timestamp</dt><dd class="col-sm-9 py-3">{{ object.signature_timestamp }}</dd><dt class="col-sm-3 py-3">Signature Image</dt><dd class="col-sm-9 py-3">{{ object.signature_image }}</dd><dt class="col-sm-3 py-3">Usersigneddocument</dt><dd class="col-sm-9 py-3">{{ object.usersigneddocument }}</dd><dt class="col-sm-3 py-3">Signature 2fa</dt><dd class="col-sm-9 py-3">{{ object.signature_2fa }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:signature-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:signature-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
