
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'util:user-signed-document-list' %}">View All UserSignedDocument
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">UserSignedDocument Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Last Modified At</dt><dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd><dt class="col-sm-3 py-3">Revised At</dt><dd class="col-sm-9 py-3">{{ object.revised_at }}</dd><dt class="col-sm-3 py-3">Uploaded Document</dt><dd class="col-sm-9 py-3">{{ object.uploaded_document }}</dd><dt class="col-sm-3 py-3">Owner</dt><dd class="col-sm-9 py-3">{{ object.owner }}</dd><dt class="col-sm-3 py-3">Description</dt><dd class="col-sm-9 py-3">{{ object.description }}</dd><dt class="col-sm-3 py-3">Label</dt><dd class="col-sm-9 py-3">{{ object.label }}</dd><dt class="col-sm-3 py-3">Issued At</dt><dd class="col-sm-9 py-3">{{ object.issued_at }}</dd><dt class="col-sm-3 py-3">Version Id</dt><dd class="col-sm-9 py-3">{{ object.version_id }}</dd><dt class="col-sm-3 py-3">Signatures</dt><dd class="col-sm-9 py-3">{{ object.signatures }}</dd><dt class="col-sm-3 py-3">Created At</dt><dd class="col-sm-9 py-3">{{ object.created_at }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'util:user-signed-document-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'util:user-signed-document-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
