{% extends "base.html" %}
{% load static %}
{% block content %}
{% if object_list %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="row my-3">
                <div class="col">
                    <h5>Uploaded documents of {{user.public_identity}}</h5>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive-md table-sm data-table">
                <thead class="thead-dark">
                <tr>
                    <th>File Name</th>
                    <th>Allow Download</th>
                    <th>File Hash</th>
                    <th>Upload Time</th>
                    <th>Last Modified At</th>

                    <th style="width: 80px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                <tr>
                    <!-- Rendered content with action buttons -->
                    {% if object.media and object.allow_download %}
                    <td><a href="{{object.media.url}}">{{object.label}}</a></td>
                    {% else %}
                    <td>{{object.label}}</td>
                    {% endif %}
                    <td>{{object.allow_download|yesno:"Yes, No"}}</td>
                    {% if object.media and object.allow_download %}
                    <td><a href="{{object.media.url}}">{{object.file_hash}}</a></td>
                    {% else %}
                    <td>{{object.file_hash}}</td>
                    {% endif %}

                    <td>{{object.created_at}}</td>
                    <td>{{object.last_modified_at}}</td>



                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{% url 'util:user-uploaded-document-detail' object.slug %}" class="cmd
                cmd-detail" data-toggle="tooltip" title="View"><i class="fa fa-search-plus">&nbsp;</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'util:user-uploaded-document-update' object.slug %}"
                                   class="cmd cmd-edit" data-toggle="tooltip"
                                   title="Edit">
                                    <i class="fa fa-edit">&nbsp;</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'util:user-uploaded-document-delete' object.slug %}" class="cmd
            cmd-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash">&nbsp;</i>
                                </a>
                            </li>
                        </ul>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h5>No record exists for selected entity</h5>
                <p>You may create new record using the ADD command </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-primary"
                           href="{% url 'util:user-uploaded-document-create' %}">Add</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-primary"
                           href="{{ request.META.HTTP_REFERER }}">
                            Back
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
