{% extends "base.html" %}
{% load static %}

{% block main %}
<section id="about">

    <div class="container">
        {% block content %}
        <div class="row">

            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{%static 'img/about-img.jpg' %}" alt="About TSA">
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="about-content p-3">
                    <h2>About Us</h2>
                    <h3 class="small">Transforming communities, one person at a time</h3>
                    <p>
                        TSA is an association of Total Exploration and Production Nigeria Limited (TEPNG) scholarship
                        graduates of all age groups and demographics which aims to help alumni maintain connection with
                        their Scholarship sponsor and fellow graduates.
                    </p>
                    <p>
                        Through the forum, new friendships and business relationships are formed with people of
                        similar background which can drive business opportunities for current and past
                        scholars of Total.
                    </p>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Strengthen the alumni engagement with
                            Total Exploration and Production Nigeria Limited (TEPNG) while also engaging local and
                            regional business leaders
                        </li>
                        <li><i class="ion-android-checkmark-circle"></i> Promote volunteerism as a way of giving back
                            to society through partnership with Total’s CSR and CAD divisions.
                        </li>
                        <li><i class="ion-android-checkmark-circle"></i> Enable alumni networking across a wide range
                            of promotions and interests beneficial to the education and other sectors of Nigeria
                            while also enhancing TEPNG's brand, reputation, global presence.
                        </li>
                        <li><i class="ion-android-checkmark-circle"></i> Align with Total’s vision, strategy and CSR
                            priorities in her host and neighbouring communities, re-enforcing TEPNG's commitment to
                            becoming the Responsible Energy Major.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

</section><!-- #about -->

<section id="team" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h3>The TSA Board</h3>
            <p>The TSA Board is tasked with the responsibility of governance and general administration of the
                association.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-6 wow fadeInUp mx-auto">
                <div class="member">
                    <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>IZU I. Ibiseme</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member">
                    <img src="{% static 'img/team-2.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>OKOROBA Igazeuma</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="member">
                    <img src="{% static 'img/team-3.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>FRIDAY Aniefiok</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="{% static 'img/team-4.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>CHINWAH K. B.</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="{% static 'img/team-5.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AKPAN E. Emilia</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="{% static 'img/team-6.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ENYIA N. Tony</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="{% static 'img/team-7.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>OJUM S. Elemele</h4>
                            <span>&nbsp;</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- #team -->

<section id="tsa-intro" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header">
                    <h3 class="mt-5">What we do</h3>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Showcase Alumni achievements
                        towards
                        local economic
                        development</li>
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Strengthen the alumni
                        engagement with Total </li>
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Promote volunteerism as a way
                        of giving back to society through
                        partnership with Total Nigeria’s Societal team</li>
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Enable alumni networking
                        across a wide range of promotions and interests
                        beneficial to the education and other sectors of Nigeria</li>
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Enhance Total Nigeria’s brand
                        reputation and CSR priorities in her
                        communities</li>
                    <li class="list-item"><i class="ion-android-checkmark-circle mr-3"></i>Engage with local and regional
                        business leaders</li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}