{% extends "base.html" %}
{% load static %}
{% block main %}
<section id="about">
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{%static 'img/police.jpg' %}" alt="Access Denied">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-content p-3">
                    <h2 class="text-danger text-center">Access Denied</h2>
                    <h3 class="small text-center">You need permission to view this content
                        <img src="{% static 'img/key.png' %}" alt="Access" width="44" height="44">
                    </h3>
                    <p>The selected item does not exist or you do not have access to view it</p>
                    <p>
                        Items in a member's profile is only accessible if shared or made public by the owner.
                    </p>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</section>
{% endblock %}