{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Authentication</h5>
        <p>Please enter the number code received via email or SMS</p>
        <p>Enter only numbers in code</p>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Authenticate</button>
</form>
{% endblock %}