{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TSA Community</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{%static 'img/favicon.ico' %}" rel="icon">
    <link href="{%static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->

    <link
            href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
            rel="stylesheet" type="text/css">


    <!-- Bootstrap CSS File -->
    <link href="{%static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/rating-plugin/css/simple-rating.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/datatables.net/datatables.css' %}" rel="stylesheet" type="text/css">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tsa.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
{% block header %}
<header id="header">
    {% include 'components/main_navigation.html' %}
</header>
<!-- #header -->
{% endblock header %}

{% block intro %}
<section id="intro" class="clearfix intro-bck intro-alt">
    <div class="container d-flex h-100">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<section class="mx-auto">
    <div class="container">
    </div>
</section>
{% endblock intro %}

{% block main %}
<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                    {% include 'components/alert_messaging.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}

<!--==========================
  Footer
============================-->
{% block footer %}
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TSA</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/

            -->
            Designed by <a href="#">E-Kobo</a>
        </div>
    </div>
</footer><!-- #footer -->

{% endblock footer %}
{% block shareable %}
<div class="row">
    <div class="col">
        <!-- Add sharing social icons here -->
        <ul class="shareable nav flex-column">

            <li class="nav-item clearfix">
                <div>
                    {% if request.user.is_authenticated %}
                    <div class="clearfix">

                        <a href="#sharebox-setting" role="button" title="Setting"
                        data-toggle="collapse" href="#sharebox-setting" role="button" aria-expanded="false"
                           aria-controls="sharebox-setting" title="Settings"
                        >&nbsp;
                            <img src="{% static 'img/gear.png' %}" alt="TSA Setting" class="img-thumbnail"
                                 width="48"
                                 height="48"/>
                        </a>
                        <div class="collapse" id="sharebox-setting">
                            <ul class="list-group p-0">
                                <li class="list-group-item p-0">
                                    <a href="{% url 'user-logout' %}" title="Logout" title="Logout">
                                        <img src="{% static 'img/power.png' %}" alt="Logout" class="img-thumbnail"
                                             width="48" height="48"/>
                                    </a>
                                </li>

                                <li class="list-group-item p-0">
                                    <a href="{% url 'user-notification' %}" title="Notifications">
                                        <img class="d-block img-thumbnail" src="{% static 'img/info.png' %}" alt=""
                                             width="48px" height="48px"></a>
                                </li>
                            </ul>

                </div>
                    </div>
                    {% else %}
                    <div class="clearfix">
                        <a role="button" title="Login" href="{% url 'user-login' %}"
                           role="button" >&nbsp;
                    <img src="{% static 'img/login.png' %}" alt="TSA Login" class="img-thumbnail"
                         width="48"
                         height="48"/>
                </a>
                    </div>
                    {% endif %}
                </div>
                <div class="clearfix">

                <a data-toggle="collapse" href="#sharebox" role="button" aria-expanded="false"
                   aria-controls="sharebox" title="Share TSA on social network" >&nbsp;
                    <img src="{% static 'img/shout.png' %}" alt="Share on Social Networks" class="img-thumbnail"
                         width="48"
                         height="48"/>
                </a>
                <div class="collapse position-relative" id="sharebox">
                    <ul class="nav position-static">
                        <li class="nav-item ">
                            <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}"
                               target="_blank">
                                <img class="d-block img-thumbnail" src="{% static 'img/facebook@48px.svg' %}" alt="Facebook"
                                     width="48px"
                                     height="48px">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                               target="_blank">
                                <img class="d-block img-thumbnail" src="{% static 'img/twitter@48px.svg' %}" alt="Twitter"
                                     width="48px"
                                     height="48px"></a>
                        </li>

                        <li class="nav-item">
                            <a href="https://t.me/joinchat/J7Js0Bp1iU1y1FIGsYlVKQ" target="_blank">
                                <img class="d-block img-thumbnail" src="{% static 'img/telegram@48px.svg' %}" alt="Telegram"
                                     width="48px"
                                     height="48px">
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}"
                               target="_blank">
                                <img class="d-block img-thumbnail" src="{% static 'img/instagram@48px.svg' %}" alt="Instagram"
                                     width="48px"
                                     height="48px">
                            </a>
                        </li>
                    </ul>

                </div>

                </div>

            </li>


        </ul>
    </div>
</div>
{% endblock %}
<!--
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" type="application/javascript"
        charset="utf-8"></script>
<script src="{% static 'lib/easing/easing.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/wow/wow.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'lib/rating-plugin/js/simple-rating.js' %}" type="application/javascript"
        charset="utf-8"></script>
<script src="{% static 'lib/datatables.net/datatables.js' %}" type="application/javascript" charset="utf-8"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}" type="application/javascript" charset="utf-8"></script>


</body>