{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<section id="careers">
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col">
                            <a href="#" class="btn btn-primary">
                                Post a Job
                            </a>
                        </div>
                        <div class="float-right">
                            <form class="form-inline">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Search jobs"
                                           aria-describedby="basic-search" id="job_search"
                                           placeholder="Search for jobs">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search">&nbsp&nbsp;</i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-body">
                        <h3> Job Posting </h3>
                        <div class="row">
                            <div class="bio col-4">
                                <img src="{% static 'img/company-1.jpg' %}" alt=""
                                     class="img-fluid">
                            </div>
                            <div class="desc col">
                                <p class="">Profile Title</p>
                                <p>Source/Employer</p>
                                <p> Bio is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque,
                                    autem
                                    necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa
                                    sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                                <small>Tag1</small>
                                <small>Tag2</small>
                                <small>Tag3</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3>Job Posting</h3>
                        <div class="row">
                            <div class="bio col-4">
                                <img src="{% static 'img/company-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="desc col-8">
                                <label style="margin-right: 100px;">Profile Title</label>
                                <label style="margin-right: 100px;">Source/Employer</label>
                                <p> Bio is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque,
                                    autem
                                    necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa
                                    sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                                <small>Tag1</small>
                                <small>Tag2</small>
                                <small>Tag3</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {% endblock %}
    </div>
</section>

