{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">

    <div class="col-lg-7 col-sm-12">
        <img src="{% static 'img/Group 45@2x.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>

    <div class="col-lg-5 col-sm-12">
        <div class="pt-5 ">
            <h3 class="text-center">Thank You</h3>
            <p>
                Your inquiry has been successfully sent to TSA team. A member of the team may contact you soon.
            </p>
            <p>You may also check our FAQ section for some common questions and likely answers</p>

        </div>
        <div class="border-top pt-5">
            <p>Also follow us on our social media handles to keep in touch</p>
            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>


    </div>

</div>
{% endblock %}
