{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="mt-5 pt-5">
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</section>
{% endblock %}
