{% extends "base.html" %}
{% load static %}
{% block intro %}
<section id="intro" class="clearfix main-intro-bck intro-main">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-12 intro-info order-md-first order-last">
                <h2>Total Scholars Association
                    <span class="mt-3 d-block">Maintaining Alumni connections</span></h2>
                <div>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'start-on-boarding' %}#intro" class="btn-get-started scrollto">Get Started</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block main %}
<main id="main">


    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    {% block content %}{% endblock %}
                </div>

                <div class="col-lg-7 col-md-6">

                </div>
            </div>
        </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Services</h3>
                <p>TSA aims to help alumni maintain connection to their Scholarship sponsor and fellow graduates </p>
            </header>

            <div class="row">


                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                                                                          style="color: #e98e06;"></i></div>
                        <h4 class="title">Career Development</h4>
                        <p class="description">Network and exploit opportunities to improve your career &amp; skills
                            through
                            TSA career services</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;">
                            <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                        <h4 class="title">Giving Back</h4>
                        <p class="description">Join other alumni & TEPNG in making impact in the lives of people
                            through CSR programs</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline"
                                                                          style="color: #3fcdc7;"></i></div>
                        <h4 class="title">Continous Learning</h4>
                        <p class="description">Always learning is a laudable goal and at TSA we encourage continous
                            learning for all</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline"
                                                                          style="color:#41cf2e;"></i></div>
                        <h4 class="title">Community Growth</h4>
                        <p class="description">CSR is not a secondary business of the TSA platform. We work with
                            partners to better serve our development goals
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                                                                          style="color: #2282ff;"></i></div>
                        <h4 class="title">Social Network</h4>
                        <p class="description">TSA is building human bridges that will convey
                            future development of individual members and general society</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #ecebff;"><i class="ion-ios-contact-outline"
                                                                          style="color: #8660fe;"></i></div>
                        <h4 class="title">Job Opportunity</h4>
                        <p class="description">Find, apply, or advertise jobs on the TSA job search engine. Job advert
                            are not restricted to only energy sector</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #services -->


    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <h5 class="cta-text"> &quot;Doing nothing for others is the undoing of ourselves&quot; -
                        <span class="text-info">Horace Mann</span></h5>
                    <p class="text-warning text-bold">Connect with people, ideas, projects and oppoturnities</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{%url 'tsa-volunteers' %}">Volunteer Today</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->

    <!-- # Guiding principles -->
    <section id="guiding-principles" class="mt-5">
        <div class="container">
            <header class="section-header">
                <h3>Guiding Principles</h3>
                <h5 class="cta-text"> Member's guidelines and principles</h5>
            </header>
            <div class="row">
                <div class="col-12 text-center text-lg-left">
                    <p>
                        TSA is guided by the principle of Value Begets Value.
                        The forum connects with members, offering them value, rather than expecting
                        to receive whenever we get in touch. The social marketing strategy thrives on an equal
                        distribution of value.
                        We give Alumni a fantastic online experience, and they give their support in return.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- # Functional statement -->
    <section id="foundational-statements" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="cta-title text-center">Vision</h3>
                            <p>
                                To strengthen Total scholarship alumni engagement through capacity development and
                                volunteerism towards enhancing the impact of Total Nigeria’s CSR vision.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="cta-title text-center">Mission</h3>
                            <p>
                                To be a reference model of alumni associations in Africa with evidence of social
                                impact achieved through collaboration in knowledge sharing and
                                innovative fundraising programmes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="faq">
        <div class="container">
            <header class="section-header">
                <h3>Frequently Asked Questions</h3>
            </header>
            <p>Alumni associations are more than just a social network. Total Scholars Alumni Association is no
                different.</p>
            <p>However, there are some misconceptions people often have about associations. We hope to address
                such misconceptions via frequently asked questions.</p>
            <p class="mb-4">For further inquiries, you may use the <a href="{%url 'tsa-contact' %}">Contact Us</a>
                form
            </p>

            <ul id="faq-list" class="wow fadeInUp">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">
                        Is the association meant for those that have made it in Life <i
                            class="ion-android-remove"></i>
                    </a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>NOT AT ALL!</strong>
                        </p>
                        <p>
                            Even if this is true, why not be part of them&hellip;someone might help you to make it too
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">
                        It is gathering of people that are not my calibre (age or social status)
                        <i class="ion-android-remove"></i>
                    </a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>
                            We strongly believe there is nothing wrong in meeting with people that you are
                            older or younger than you.
                        </p>
                        <p>There is also nothing out of place in associating with people
                            that may be different from you.</p>
                        <p>One of the beautiful thing about TSA is that you will always find people who are
                            different from you yet can also relate with you</p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">
                        I am still young or too old. Will my voice and idea be heard?
                        <i class="ion-android-remove"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>
                            You need to know that Alumni Associations are Levellers.
                            Respect begat respect. As long as you are an Alumnus or Alumna, we all have the same rights
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">
                        Is the association about contributing money? <i class="ion-android-remove"></i></a>
                    <div id="faq4" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>NOT AT ALL!</strong>
                        </p>
                        <p>
                            TSA was registered as a Not For Profit organisations and does not intend to primarily
                            fund her activities through membership dues.
                        </p>
                        <p>
                            While we may not totally rule out financial commitment in associations, Alumni
                            Associations are NOT about raising funds
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">
                        Will I be intimidated by other member's accomplishments?
                        <i class="ion-android-remove"></i></a>
                    <div id="faq5" class="collapse" data-parent="#faq-list">
                        <p>
                            Honestly, this is up to you
                        </p>
                        <p>
                            Billionaires have classmates or peers from different groups who are not
                            intimidated.
                        </p>
                        <p>
                            So don't get intimidated, instead, you intimate yourself or build connections with such
                            people, so they can pull you up.</p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">
                        Nothing to benefit if I join, why waste my time? <i class="ion-android-remove"></i></a>
                    <div id="faq6" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>SO MUCH TO BENEFIT</strong>
                        </p>
                        <ul class="list-unstyled">
                            <li class="list-item">Build connection with your scholarship sponsor</li>
                            <li class="list-item">Reunite with old friends, while networking with potential business
                                partners, colleagues etc.
                            </li>
                            <li class="list-item">
                                Search for business opportunities, job openings, personal development programmes and
                                lots more
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq7" class="collapsed">
                        Until I make it, that is when I can be recognized in the association?
                        <i class="ion-android-remove"></i></a>
                    <div id="faq7" class="collapse" data-parent="#faq-list">
                        <p>
                            As long as you belong to TSA, you are already recognized.
                        </p>
                        <p><strong>Your self esteem is important.</strong> Never see yourself as a failure</p>

                    </div>
                </li>

            </ul>

        </div>
    </section><!-- #faq -->

</main>

{% endblock %}
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">


                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/

            -->
            Designed by <a href="https://bootstrapmade.com/">E-Kobo</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->

<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
