{% if applied %}
<div class="alert alert-info col-12 text-center" role="alert">
    <h5>Application Submitted</h5>
    <p class="">You have already applied for the advertised position</p>
</div>
{% else %}
<div class="col-12">
    {% include 'components/career_bar.html' with slug=object.urlsafe_uuid %}
</div>
{% endif %}


