{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Registration</h5>
        <p>Provide a valid email address to begin your registration</p>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
