{% extends "login.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
<div class="col-lg-7 col-sm-12">
    <img src="{% static 'img/Group 45@2x.jpg' %}" alt="Login photo" class="d-block align-middle">
    </div>

    <div class="col-lg-5 col-sm-12">
        <form method="post" class="form">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <div class="mt-5 pt-5 text-center border-top">
        <h3>New Here?</h3>
        <p>
            <a href="{% url 'start-on-boarding' %}" class="btn btn-primary bg-dark font-bold">CREATE
                ACCOUNT</a>
        </p>
    </div>
    </div>
</div>

{% endblock %}
