{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    {% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-4">

        </div>

    </div>
    {% endblock %}
</div>

