{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="tab-link active" id="pills-achievement-tab" data-toggle="pill" href="#pills-achievement" role="tab"
           aria-controls="pills-achievement" aria-selected="true">Achievement</a>
    </li>
    <li class="nav-item">
        <a class="tab-link" id="pills-social-tab" data-toggle="pill" href="#pills-social" role="tab"
           aria-controls="pills-social" aria-selected="false">Social Network</a>
    </li>
    <li class="nav-item">
        <a class="tab-link" id="pills-career-tab" data-toggle="pill" href="#pills-career" role="tab"
           aria-controls="pills-career" aria-selected="false">Career</a>
    </li>
    <li class="nav-item">
        <a class="tab-link" id="pills-mentoring-tab" data-toggle="pill" href="#pills-mentoring" role="tab"
           aria-controls="pills-mentoring" aria-selected="false">Mentoring</a>
    </li>
    <li class="nav-item">
        <a class="tab-link" id="pills-volunteer-tab" data-toggle="pill" href="#pills-volunteer" role="tab"
           aria-controls="pills-volunteer" aria-selected="false">Volunteer</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-achievement" role="tabpanel" aria-labelledby="pills-achievement-tab">
        {% include 'feeds/public/achievements.html' %}
        </div>
    <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab">
        {% include 'feeds/public/social.html' %}
    </div>
    <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-career-tab">
        {% include 'feeds/public/career.html' %}
    </div>
    <div class="tab-pane fade" id="pills-mentoring" role="tabpanel" aria-labelledby="pills-mentoring-tab">
        {% include 'feeds/public/mentoring.html' %}
    </div>
    <div class="tab-pane fade" id="pills-volunteer" role="tabpanel" aria-labelledby="pills-volunteer-tab">
        {% include 'feeds/public/volunteer.html' %}
    </div>
</div>
{% endblock %}
