{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Registration Update</h5>
        <p>Thank you for registering with TSA.</p>
        <p>Do update your details from default values to better access our online community and services</p>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}