{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load publish %}
{% block content %}
<section class="mt-5 pt-5">
    <div class="row">
        <div class="col-lg-3 sidebar-left ">
            <ul class="nav nav-pills mb-3 flex-column " id="feeds-pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="tab-link active" id="pills-achievement-tab" data-toggle="pill"
                       href="#pills-achievement"
                       role="tab"
                       aria-controls="pills-achievement" aria-selected="true">Achievement</a>
                </li>
                <li class="nav-item">
                    <a class="tab-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                       role="tab"
                       aria-controls="pills-achievement" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="tab-link" id="pills-social-tab" data-toggle="pill" href="#pills-social" role="tab"
                       aria-controls="pills-social" aria-selected="false">Social Network</a>
                </li>
                <li class="nav-item">
                    <a class="tab-link" id="pills-career-tab" data-toggle="pill" href="#pills-career" role="tab"
                       aria-controls="pills-career" aria-selected="false">Career</a>
                </li>
                <li class="nav-item">
                    <a class="tab-link" id="pills-mentoring-tab" data-toggle="pill" href="#pills-mentoring"
                       role="tab"
                       aria-controls="pills-mentoring" aria-selected="false">Mentoring</a>
                </li>
                <li class="nav-item">
                    <a class="tab-link" id="pills-volunteer-tab" data-toggle="pill" href="#pills-volunteer"
                       role="tab"
                       aria-controls="pills-volunteer" aria-selected="false">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user-profile-management' user.urlsafe_uuid %}"
                       class="btn btn-primary btn-sm">Manage
                        Profile</a>
                </li>
            </ul>

        </div>
        <div class="col-lg-9">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-achievement" role="tabpanel"
                     aria-labelledby="pills-achievement-tab">
                    <div class="header">
                        <h3>
                            Achievements
                            <img src="{% static 'img/goal@2x.png' %}"
                                 class="d-block-inline align-middle img-thumbnail ml-3"
                                 alt="Achievement">
                        </h3>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseAchievements" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseAchievements"
                                       onclick="$('i#achievement').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="achievement">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseAchievements">
                                {% publish achievements %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseEducationHistories" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseEducationHistories"
                                       onclick="$('i#educationHistory').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="educationHistory">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseEducationHistories">
                                {% publish education_histories %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseQualifications" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseQualifications"
                                       onclick="$('i#qualification').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="qualification">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseQualifications">
                                {% publish qualifications %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseWorkExperiences" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseWorkExperiences"
                                       onclick="$('i#workExperience').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="workExperience">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseWorkExperiences">
                                {% publish work_experiences %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade " id="pills-profile" role="tabpanel"
                     aria-labelledby="pills-profile-tab">
                    <h3>
                        Profile Management
                        {% if user.gender == 'M' %}
                        <img src="{% static 'img/man@2x.png' %}"
                             class="d-block-inline align-middle img-thumbnail ml-3"
                             alt="Profile Management">
                        {% else %}
                        <img src="{% static 'img/woman@2x.png' %}"
                             class="d-block-inline align-middle img-thumbnail ml-3"
                             alt="Profile Management">
                        {% endif %}
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseCommunity" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseCommunity"
                                       onclick="$('i#community').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="community">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseCommunity">
                                {% publish community %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseProfessionalMemberships" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseProfessionalMemberships"
                                       onclick="$('i#professionalMembership').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="professionalMembership">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseProfessionalMemberships">
                                {% publish professional_associations %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseScholarshipProfiles" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseScholarshipProfiles"
                                       onclick="$('i#scholarshipProfile').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="scholarshipProfile">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseScholarshipProfiles">
                                {% publish scholarships %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseTestimonials" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseTestimonials"
                                       onclick="$('i#testimonial').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="testimonial">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseTestimonials">
                                {% publish testimonials %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseUserCVs" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseUserCVs"
                                       onclick="$('i#userCV').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="userCV">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseUserCVs">
                                {# publish user_cvs #}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseUserSkillSets" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseUserSkillSets"
                                       onclick="$('i#userSkillSet').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="userSkillSet">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseUserSkillSets">
                                {% publish user_skill_sets %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab">
                    <h3>Social Network<img src="{% static 'img/like@2x.png' %}"
                                           class="d-block-inline align-middle img-thumbnail ml-3"
                                           alt="Social Network">
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseLeaders" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseLeaders"
                                       onclick="$('i#leader').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="leader">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseLeaders">
                                {% publish leaders user=user %}
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseFollowers" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseFollowers"
                                       onclick="$('i#follower').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="follower">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseFollowers">
                                {% publish followers user=user %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-career-tab">
                    <h3>
                        Career
                        <img src="{% static 'img/seo-and-web@2x.png' %}"
                             class="d-block-inline align-middle img-thumbnail ml-3"
                             alt="Career">
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseJobApplication" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseJobApplication"
                                       onclick="$('i#jobApplication').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="jobApplication">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseJobApplication">
                                {% publish job_applications %}
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="pills-mentoring" role="tabpanel"
                     aria-labelledby="pills-mentoring-tab">
                    <h3>
                        Mentoring
                        <img src="{% static 'img/help@2x.png' %}" class="d-block-inline align-middle img-thumbnail ml-3"
                             alt="Mentoring">
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseTraining" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseTraining"
                                       onclick="$('i#training').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="training">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseTraining">
                                {% publish trainings user=user %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-volunteer" role="tabpanel" aria-labelledby="pills-volunteer-tab">
                    <h3>
                        Volunteer
                        <img src="{% static 'img/donation@2x.png' %}"
                             class="d-block-inline align-middle img-thumbnail ml-3" alt="Volunteer">
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-11">
                                    <hr>
                                </div>
                                <div class="col">
                                    <a data-toggle="collapse" href="#collapseVolunteer" role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseVolunteer"
                                       onclick="$('i#volunteer').toggleClass('fa-compress'); ">
                                        <i class="fa fa-expand" id="volunteer">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                            <div class="show" id="collapseVolunteer">
                                {% publish volunteer_courses user=user %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}


