{% extends "profile_page.html" %}
{% load static %}
{% load crispy_forms_tags %}


<div class="container">
    {% block content %}

    <div class="row">
        <div class="col-lg-9 col-md-8">
            <section class="user-profile">
                <h3>Profile</h3>
                <p>Manage your profile here</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="{% url 'profile_management:scholarship-profile-list' %}" class="btn btn-outline-primary btn-sm">Scholarship</a></li>
                                    <li class="list-inline-item"><a href="{% url 'profile_management:community-list' %}" class="btn btn-outline-primary btn-sm">Community</a></li>
                                    <li class="list-inline-item"><a href="{% url 'profile_management:professional-membership-list' %}" class="btn btn-outline-primary btn-sm">Associations</a></li>
                                    <li class="list-inline-item"><a href="{% url 'profile_management:user-skill-set-list' %}" class="btn btn-outline-primary btn-sm">Skills</a></li>
                                    <li class="list-inline-item"><a href="{% url 'profile_management:testimonial-list' %}" class="btn btn-outline-primary btn-sm">Testimonials</a></li>
                                    <li class="list-inline-item"><a href="{% url 'profile_management:user-c-v-list' %}" class="btn btn-outline-primary btn-sm">User CV</a></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="col">
                        {% if user.gender == 'M' %}
                        <img src="{% static 'img/man.png' %}" class="d-block mx-auto animated fadein" alt="Profile">
                        {% else %}
                        <img src="{% static 'img/woman.png' %}" class="d-block mx-auto animated fadein"
                             alt="Profile">
                        {% endif %}
                    </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Achievements</h3>
                <p>Add or manage life or career achievements you wish to share</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{% url 'achievement:achievements-list' %}"
                                           class="btn btn-outline-primary btn-sm">Achievements</a></li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'achievement:academic-graduation-list' %}" class="btn btn-outline-primary btn-sm">Graduation</a>
                                    </li>
                                    <li class="list-inline-item"><a href="{% url 'achievement:education-history-list' %}" class="btn btn-outline-primary btn-sm">Education</a></li>
                                    <li
                                            class="list-inline-item"><a href="{% url 'achievement:qualification-list' %}" class="btn btn-outline-primary btn-sm">Qualification</a>
                                    </li>
                                    <li
                                            class="list-inline-item"><a href="{% url 'achievement:work-experience-list' %}" class="btn btn-outline-primary btn-sm">Work
                                        experience</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/goal.png' %}" class=" d-block mx-auto" alt="Achievement">
                    </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Career</h3>
                <p>View job postings and access other career materials</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="{% url 'career:job-application-list' %}" class="btn btn-outline-primary btn-sm">Job
                                        applications</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/seo-and-web.png' %}" alt="Career" class="d-block mx-auto">
                    </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Mentoring</h3>
                <p>Find a mentor or volunteer as a mentor</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="{% url 'mentorship:mentoring-programme-list' %}" class="btn btn-outline-primary btn-sm">
                                        Mentoring programmes</a></li>
                                    <li class="list-inline-item"><a href="{% url 'mentorship:mentoring-session-list' %}" class="btn btn-outline-primary btn-sm">Mentoring
                                        sessions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/help.png' %}" class="d-block mx-auto" alt="Mentoring">
                    </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Social Network</h3>
                <p>Connect with other members of TSA</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                    <div class="card-body">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="{% url 'social_network:social-network-list' %}" class="btn btn-outline-primary btn-sm">
                                Social Network</a></li>


                        </ul>
                    </div>

                </div>
                    </div>
                    <div class="col">
                            <img src="{% static 'img/like.png' %}" alt="Social Network" class="d-block mx-auto">
                        </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Utilities</h3>
                <p>Manage uploaded documents and other user resource</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                    <div class="card-body">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="{% url 'util:user-uploaded-document-list' %}"
                                                            class="btn btn-outline-primary btn-sm">
                                Uploaded Documents</a></li>

                            <li class="list-inline-item"><a href="{% url 'util:user-avatar-list' %}" class="btn btn-outline-primary btn-sm">
                                User Photo</a></li>

                        </ul>
                    </div>

                </div>
                    </div>
                    <div class="col">
                            <img src="{% static 'img/repair.png' %}" alt="Social Network" class="d-block mx-auto">
                        </div>
                </div>
            </section>

            <section class="user-profile">
                <h3>Volunteer</h3>
                <p>Join other ALUMNI to give back and make progress</p>
                <div class="row">
                    <div class="col-9">
                        <div class="card">
                    <div class="card-body">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="{% url 'volunteer:volunteer-course-list' %}" class="btn btn-outline-primary btn-sm">
                                Volunteer course</a></li>
                            <li class="list-inline-item"><a href="{% url 'volunteer:volunteer-course-application-list' %}" class="btn btn-outline-primary btn-sm">Volunteer</a></li>

                        </ul>
                    </div>

                </div>
                    </div>
                    <div class="col">
                            <img src="{% static 'img/donation.png' %}" alt="Volunteer" class="d-block mx-auto">
                        </div>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-md-4 sidebar-right">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <span>{{user.first_name|capfirst}}, {{user.last_name|upper}}</span>
                    </h5>
                    <span class="d-block text-center">
                        <span class="icon" style="font-size:1.5em; ">
                            <i class="ion-ios-contact-outline" style="color: #8660fe;"></i>
                        </span>
                        {{user.username}}
                    </span>
                    <span class="small d-block">Member since {{user.date_joined|date:"D d M Y"}}</span>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% if user.avatar %}
                            <img src="{{ user.avatar.media.url }}" alt="User avatar or passport"
                                 class="img-thumbnail d-block mx-auto">
                            {% else %}
                            <div class="alert alert-info" role="alert">
                                No avatar registered
                            </div>
                            {% endif %}

                        </div>
                        <div class="col-12 p-3">
                            {{user.autobiography}}
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col small p-3">
                            <img class="img mr-1" src="{% static 'img/profile-logo.png' %}" alt="TSA Logo">
                            Total Scholars Alumni, &copy;2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>

