<div class="row">
    <div class="col">
        <dl>
            <dt>Programme Name</dt>
            <dd>{{object.programme_name}}</dd>
            <dt>Programme start</dt>
            <dd>{{object.programme_start|date:"D d M Y"}}</dd>
            <dt>Programme end</dt>
            <dd>{{object.programme_end|date:"D d M Y"}}</dd>
            <dt>Objectives</dt>
            <dd>{{object.objectives}}</dd>
        </dl>
        {% if object.is_public %}

        <p>
            <a href="{{ object.get_absolute_url }}"
               class="text-primary">More...</a>
        </p>
        {% endif %}
    </div>
</div>