{% if messages %}

<div class="messages alert alert-warning alert-dismissible fade show" role="alert">
    <ul class="messages list-unstyled">
        {% for message in messages %}
            {% if message.tags %}
            <li class="{{message.tags}} list-item">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}