{% load generate_random %}

<form method="post" id="job_application_{% generate_random %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{slug|truncatechars:8}}" name="job_application_form">
    <input type="hidden" value="{{slug}}" id="instance_{{slug|truncatechars:8}}" name="job_posting_instance">

    {% if request.user.is_authenticated %}
    <div class="form-group">
        <p class="m-0">Registered members can use saved CV to apply for jobs</p>
        <p class="small m-1 p-1">Select CV from your profile</p>
        {% include 'components/user_cv_list.html' %}
    </div>
    <hr>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <h5>Apply as unregistered member</h5>
    {% endif %}
    <div class="form-group">
        <p class="p-1 m-1">Upload a copy of your CV to apply for this job</p>
        <p class="small p-1 m-1">Uploaded CV does not overwrite any attached document of the selected CV above. </p>
        <p class="small p-1 m-1">Other content of the selected CV above will also not be affected</p>
    </div>
    <div class="form-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="application_document" name="application_document">
            <label class="custom-file-label" for="application_document">Choose file</label>
        </div>
        <p class="small m-1 p-1">Document format should be PDF, or plain text file (saved as TXT) and not more than 4MB</p>
    </div>
    <div class="form-group">
        <label>Application notes/reason&nbsp;<i class="fa fa-marker"></i></label>
        <textarea class="form-control" rows="8" cols="3" id="application_reason"
                  name="application_reason"></textarea>
    </div>
    <div class="form-group mb-4">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_public_{{slug|truncatechars:8}}" name="is_public" placeholder="">
            <label for="is_public_{{slug|truncatechars:8}}" class="form-check-label">Make public</label>
            <p class="small">Check if you wish this response to be seen by other members</p>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_shareable_{{slug|truncatechars:8}}" name="is_shareable" placeholder="">
            <label for="is_shareable_{{slug|truncatechars:8}}" class="form-check-label">Enable sharing</label>
            <p class="small">Check if you wish this response to be shared by other members</p>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary">
    </div>

</form>
