{% load generate_random %}
{% load class_name %}

<form method="post" id="entity_rating_{% generate_random %}">

    {% csrf_token %}
    <input type="hidden" value="{% generate_random %}" name="entity_rating_form">
    <input type="hidden" value="{% class_name object %}" name="entity">
    <input type="hidden" value="{{object.urlsafe_uuid}}" id="instance_{% generate_random %}" name="instance">
    <div class="form-group mb-4">
        <label><strong>Rate</strong>&nbsp;<i class="fa fa-star-o"></i></label>
        <input class="rating form-control" data-rating-max="5" id="rating_{{object.urlsafe_uuid}}" name="rating">
    </div>

<div class="clearfix"></div>

    <div class="form-group">
        <label><strong>Comment</strong>&nbsp;<i class="fa fa-comments-o"></i></label>
        <textarea class="form-control" rows="8" cols="3" id="comment_{{object.urlsafe_uuid}}" name="comments"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" >
    </div>
</form>


<!-- Use javascript to display rating of slider -->