<div class="row">
    <div class="col-12 ">
        <h6 class="card card-header">Uploaded Document</h6>
    </div>
    {% if object.media_type in 'image/jpeg, image/gif, image/png' %}
    <div class="row p-3">
        <div class="col-4">
            <img src="{{object.media.url}}" alt="media" class="img img-thumbnail ">
        </div>
        <div class="col">
            User photo with file hash {{object.file_hash}}&nbsp;<i class="fa fa-file-o">&nbsp;</i>
            <p class="small"><strong>Created</strong>&nbsp;{{object.created_at}}</p>
        </div>
    </div>
     {% elif object.allow_download %}
    <div class="row p-3">
        <div class="col">
            <a href="{{object.media.url}}">{{object.label}}</a>&nbsp;
            with file hash {{object.file_hash}}&nbsp;<i class="fa fa-file-o">&nbsp;</i>
            <p class="small">Click link to view or download</p>
        </div>
    </div>
    {% endif %}
</div>
