<div class="row">
    <div class="col-12 p-3">
        <h6 class="card card-header">Institution</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="p-1">
                    <a href="#">{{institution.institution_name}} </a>
                    <i class="fa fa-university">&nbsp;</i>
                </div>
                <div>
                    <h6>Contact</h6>
                    {{institution.contact}}
                </div>
                <div>
                    <ul class="list-unstyled">
                        {% for address in object.institution.addresses.all %}
                        <li class="list-item">{{address}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>