{% load static %}
{% load notification_count %}
<div id="topbar">
    <div class="container">
        <div class="social-links">
            <div class="row">
                <div class="col-8">
                        <span class="d-block">
                {% if not user.uuid %}
                  <a href="{% url 'start-on-boarding' %}#intro" class="font-weight-bold">Sign
                      up</a>
                  <a href="{% url 'user-login' %}#intro" class="font-weight-bold">Login</a>
                {% else %}
                  <a href="{% url 'user-logout' %}#intro" class="font-weight-bold">Log out
                      {{user.username}}</a>
                  {% endif %}
              </span>
                </div>
                <div class="col">
                    {% if user.uuid %}
                    <a href="{% url 'user-notification' %}" class="badge">
                        <i class="fa fa-bell"></i>
                        Notification&nbsp;<span class="badge badge-pill badge-info">{% notification_count request.user %}</span>
                    </a>
                    {% endif %}
                    <span>
                        <strong class="text-dark">Follow us:</strong>
                        <a href="http://www.twitter.com/totalscholars" target="_blank" class="twitter"><i
                            class="fa fa-twitter"></i></a>
                    <a href="http://www.facebook.com/totalscholarsalumni" target="_blank"
                       class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-4">

    <div class="logo float-left">
        <a href="{% url 'tsa-home' %}#header" class="scrollto">
            <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
        <ul>
            {% if request.path == '/' %}
            <li class="active"><a href="{% url 'tsa-home' %}#intro">Home</a></li>
            {% else %}
            <li><a href="{% url 'tsa-home' %}#intro">Home</a></li>
            {% endif %}
            {% if request.path == '/about/' %}
            <li class="active"><a href="{% url 'about-us' %}#intro">About Us</a></li>
            {% else %}
            <li><a href="{% url 'about-us' %}#intro">About Us</a></li>
            {% endif %}
            {% if request.path == '/careers/' %}
            <li class="active"><a href="{% url 'tsa-careers' %}#intro">Careers</a></li>
            {% else %}
            <li><a href="{% url 'tsa-careers' %}#intro">Careers</a></li>
            {% endif %}
            {% if request.path == '/volunteers/' %}
            <li class="active"><a href="{% url 'tsa-volunteers' %}#intro">Volunteer</a></li>
            {% else %}
            <li><a href="{% url 'tsa-volunteers' %}#intro">Volunteer</a></li>
            {% endif %}
            {% if request.path == '/programmes/' %}
            <li class="active"><a href="{% url 'tsa-programmes' %}#intro">Programmes</a></li>
            {% else %}
            <li><a href="{% url 'tsa-programmes' %}#intro">Programme</a></li>
            {% endif %}

            {% if request.path == '/alumni/' %}
            <li class="active"><a href="{% url 'alumni' %}#intro">Alumni</a></li>
            {% else %}
            <li><a href="{% url 'alumni' %}#intro">Alumni</a></li>
            {% endif %}

            {% if request.path == '/contact/' %}
            <li class="active"><a href="{% url 'tsa-contact' %}#intro">Contact Us</a></li>
            {% else %}
            <li><a href="{% url 'tsa-contact' %}#intro">Contact Us</a></li>
            {% endif %}

            {% if user.uuid %}
            <li>
                <a href="{% url 'user-profile' user.urlsafe_uuid %}#intro" id="account-btn" class="btn">
                    Account
                </a>
            </li>
            {% endif %}

            {% if not user.uuid %}
            <li>
                <a href="{% url 'user-login' %}#intro" id="login-btn" class="btn">
                    Login
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>