<div class="p-3">
    <a href="{% url 'tsa-programmes' %}" class="btn btn-primary">Clear Search</a>
</div>
<div class="search">
    {% for result in searches %}
    <article class="card my-4">
        <div class=" card-body">
            <h5 class="card-title">
                <a href="{{result.get_absolute_url}}">{{result.programme_name}}</a>
            </h5>
            <p>{{result.objectives|truncatechars:512}}</p>
            <a href="{{result.get_absolute_url}}">More...</a>
        </div>
        <div class="card-footer">
            <ul class="list-inline">
                <li class="list-inline-item small"><strong>Created</strong>&nbsp;{{result.created_at}}</li>
                <li class="list-inline-item small"><strong>Last modified</strong>&nbsp;{{result.last_modified_at}}</li>
                <li class="list-inline-item small"><strong>Posted by</strong>&nbsp;
                    <a href="{% url 'user-profile' result.source.urlsafe_uuid %}">{{result.source.username}}</a>
                </li>
            </ul>
        </div>
    </article>
    {% endfor %}
</div>