<div class="row">
    <div class="col-md-4">
        {% if object.media.media_type in 'image/jpeg, image/gif, image/png' %}
        <img src="{{object.media.url}}" alt="media"
             class="img img-thumbnail ">
        {% elif object.media.allow_download %}
        <a href="{{object.media.url}}">Download</a>
        <p class="small">View programme media content in browser or download as file</p>
        {% endif %}

    </div>
    <div class="col-md-8">
        <dl>
            <dt>Programme Name</dt>
            <dd>{{object.programme_name}}</dd>
            <dt>Objectives</dt>
            <dd>{{object.objectives}}</dd>
        </dl>
        {% if object.is_public and request.user.is_authenticated %}

        <p>
            <a href="{{ object.get_absolute_url }}"
               class="text-primary">More...</a>
        </p>
        {% endif %}
    </div>
</div>