{% load generate_random %}
<form method="post" id="alumni_rating_{% generate_random %}">

    {% csrf_token %}
    <input type="hidden" value="{% generate_random %}" name="rating_form">
    <input type="hidden" value="{{member.urlsafe_uuid}}" id="instance_{% generate_random %}" name="instance">
    <div class="form-group mb-4">
        <label><strong>Rate</strong>&nbsp;<i class="fa fa-star-o"></i></label>
        <input class="rating form-control" data-rating-max="5" id="rating_{{member.urlsafe_uuid}}" name="rating">
    </div>

<div class="clearfix"></div>
    <div class="form-group mb-4">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="follow_{{member.urlsafe_uuid}}" name="follow">
            <label class="custom-control-label" for="follow_{{member.urlsafe_uuid}}"><strong>Follow</strong>&nbsp;<i class="fa fa-handshake-o"></i></label>
        </div>
    </div>

    <div class="form-group">
        <label><strong>Comment</strong>&nbsp;<i class="fa fa-comments-o"></i></label>
        <textarea class="form-control" rows="8" cols="3" id="comment_{{member.urlsafe_uuid}}" name="comments"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" >
    </div>
</form>


<!-- Use javascript to display rating of slider -->