{% load generate_random %}

<div class=" ">
    <h5>Directory Search</h5>
    <p>To view records from a given year or selected duration, use the form below</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" value="{% generate_random %}" name="time_search_form">
        {% block use_attribute %}
        <div class="form-group">
            <div class="attributes">
                {% for label, attribute in search_attributes.items %}
                <div class="custom-control custom-radio">
                    {% if 'start' in label %}
                    <input type="radio" id="attr_search_2" name="attr_search" value="2"
                           class="custom-control-input">
                    <label class="custom-control-label" for="attr_search_2">{{attribute|title}}</label>
                    {% elif 'end' in label %}
                    <input type="radio" id="attr_search_3" name="attr_search" value="3"
                           class="custom-control-input">
                    <label class="custom-control-label" for="attr_search_3">{{attribute|title}}</label>
                    {% elif 'created' in label %}
                    <input type="radio" id="attr_search_5" name="attr_search" value="5"
                           class="custom-control-input">
                    <label class="custom-control-label" for="attr_search_5">{{attribute|title}}</label>
                    {% elif 'last' in label %}
                    <input type="radio" id="attr_search_7" name="attr_search" value="7"
                           class="custom-control-input">
                    <label class="custom-control-label" for="attr_search_7">{{attribute|title}}</label>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
            <p class="small">Select the attribute to base the time search or filter</p>
        </div>
        {% endblock %}

        <ul class="list-group list-group-flush p-2">
            <li class="list-group-item">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input id="year" name="year" type="text" class="form-control" placeholder="Year format: YYYY">
                    <p class="small mt-1">Enter year in format: YYYY</p>
                </div>
                <div class="form-group">
                    <label for="month">Month</label>
                    <input id="month" name="month" type="month" class="form-control">
                    <p class="small mt-1">Month in the current year for selected attribute.</p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="start">Start Date</label>
                    <input type="date" class="form-control" id="start" name="start">
                </div>
                <div class="form-group">
                    <label for="start">End Date</label>
                    <input type="date" class="form-control" id="end" name="end">
                </div>
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="reference" id="reference1" value="-1"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="reference1">Before Start Date</label>
                                <div class="small">Select records before <strong>Start Date</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item custom-control custom-radio">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="reference2" name="reference" value="1"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="reference2">After End Date</label>
                                <div class="small">Select records after <strong>End Date</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item custom-control custom-radio">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="reference3" name="reference" value="0"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="reference3">Between Dates</label>
                                <div class="small">Select records from <strong>Start Date</strong> to <strong>End
                                    Date</strong></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <h6><strong>Advance feature</strong></h6>
                    <label for="filters">Filters</label>
                    <input type="text" id="filters" name="filters" class="form-control">
                    <div class="small text-wrap p-0">Enter filters or search terms.
                        Each term can be separated by space (" ") or comma
                        (",")
                    </div>
                    <div class="small text-wrap p-0">Example: community=amah, username=test</div>
                    <div class="small p-1 m-0">Searches are case insensitive</div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn btn-danger ml-3" value="Reset">
                </div>
            </li>
        </ul>
    </form>
</div>