{% load generate_random %}
<ul class="list-unstyled cv-list text-muted">
    {% for cv in request.user.user_cv.all %}
    <li class="border-top p-3 mt-3 card card-body" >
        <div>
            <dl>
                <dt>Title or Name</dt>
                <dd>{{cv.cv_name}}</dd>

                <dt>Career objective</dt>
                <dd>{{cv.career_objective}}</dd>

                <dt>Description</dt>
                <dd>{{cv.description}}</dd>
            </dl>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="user_cv_instance" id="user_cv_{{cv.slug}}" value="{{cv.urlsafe_uuid}}" >
            <label for="user_cv_{{cv.slug}}" ><strong>Select this CV</strong></label>
        </div>
    </li>
    {% endfor %}
</ul>