<div class="row">
    <div class="col-12 p-3" id="view-comments">
        <h6 class="card card-header">Comments of users</h6>
        <ul class="list-group list-group-flush">
            {% for comment in comments %}
            {% if comment.comments|length > 0 %}
            <li class="list-group-item">
                <div class="p-1"><span>{{comment.comments}}</span></div>
                <ul class="list-inline">
                    <li class="list-inline-item small">
                        Comment by: <strong>{{comment.user}}</strong>
                        <i class="fa fa-comment-o"></i>
                    </li>
                    <li class="list-inline-item small">
                        Created: <span>{{comment.created_at}}</span>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>