<div class="p-3">
    <a href="{% url 'tsa-volunteers' %}" class="btn btn-primary">Clear Search</a>
</div>
<div class="search">
    {% for result in searches %}
    <article class="card my-4">
        <div class=" card-body">
            <h5 class="card-title">
                <a href="{{result.get_absolute_url}}">{{result.course_name}}</a>
            </h5>
            <p>{{result.description|truncatechars:512}}</p>
            <p>{{result.kpi|truncatechars:512}}</p>
            <a href="{{result.get_absolute_url}}">More...</a>
        </div>
        <div class="card-footer">
            <ul class="list-inline">
                <li class="list-inline-item small"><strong>Start</strong>&nbsp;{{result.course_start}}</li>
                <li class="list-inline-item small"><strong>End</strong>&nbsp;{{result.course_end}}</li>
                <li class="list-inline-item small"><strong>Posted by</strong>&nbsp;
                    <a href="{% url 'user-profile' result.course_owners.urlsafe_uuid %}">{{result.course_owners.username}}</a>
                </li>
            </ul>
        </div>
    </article>
    {% endfor %}
</div>