{% load generate_random %}
<form method="post" id="volunteer_{% generate_random %}">
    {% csrf_token %}
    <input type="hidden" value="{% generate_random %}" name="volunteer_form">
    <input type="hidden" value="{{object.urlsafe_uuid}}" id="instance_{% generate_random %}" name="instance">
    <div class="form-group">
        <label><strong>Reason for volunteering</strong>&nbsp;<i class="fa fa-hand-holding-heart"></i></label>
        <textarea class="form-control" rows="8" cols="3" id="application_reason"
                  name="comments"></textarea>
    </div>
    <div class="form-group mb-4">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_public" name="is_public" placeholder="">
            <label for="is_public" class="form-check-label">Make public</label>
            <p class="small">Check if you wish this response to be seen by other members</p>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_shareable" name="is_shareable" placeholder="">
            <label for="is_shareable" class="form-check-label">Enable sharing</label>
            <p class="small">Check if you wish this response to be shared by other members</p>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary">
    </div>
</form>
