{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'social_network:social-network-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Social Network Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Relationship created on</dt>
                        <dd class="col-sm-9 py-3">{{ object.social_start }}</dd>
                        <dt class="col-sm-3 py-3">Leader</dt>
                        <dd class="col-sm-9 py-3">{{ object.leader }}</dd>
                        <dt class="col-sm-3 py-3">Follower</dt>
                        <dd class="col-sm-9 py-3">{{ object.follower }}</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'social_network:social-network-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'social_network:social-network-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
