
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'social_network:user-comments-list' %}">View All UserComments
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">UserComments Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Achievements</dt><dd class="col-sm-9 py-3">{{ object.achievements }}</dd><dt class="col-sm-3 py-3">Education History</dt><dd class="col-sm-9 py-3">{{ object.education_history }}</dd><dt class="col-sm-3 py-3">Qualification</dt><dd class="col-sm-9 py-3">{{ object.qualification }}</dd><dt class="col-sm-3 py-3">Content Type</dt><dd class="col-sm-9 py-3">{{ object.content_type }}</dd><dt class="col-sm-3 py-3">Content Object</dt><dd class="col-sm-9 py-3">{{ object.content_object }}</dd><dt class="col-sm-3 py-3">Work Experience</dt><dd class="col-sm-9 py-3">{{ object.work_experience }}</dd><dt class="col-sm-3 py-3">Object Id</dt><dd class="col-sm-9 py-3">{{ object.object_id }}</dd><dt class="col-sm-3 py-3">Created At</dt><dd class="col-sm-9 py-3">{{ object.created_at }}</dd><dt class="col-sm-3 py-3">Comments</dt><dd class="col-sm-9 py-3">{{ object.comments }}</dd><dt class="col-sm-3 py-3">User</dt><dd class="col-sm-9 py-3">{{ object.user }}</dd><dt class="col-sm-3 py-3">Last Modified At</dt><dd class="col-sm-9 py-3">{{ object.last_modified_at }}</dd><dt class="col-sm-3 py-3">Academic Graduation</dt><dd class="col-sm-9 py-3">{{ object.academic_graduation }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'social_network:user-comments-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'social_network:user-comments-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
