
{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'social_network:user-likes-list' %}">View All UserLikes
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">UserLikes Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row"><dt class="col-sm-3 py-3">Object Id</dt><dd class="col-sm-9 py-3">{{ object.object_id }}</dd><dt class="col-sm-3 py-3">Content Type</dt><dd class="col-sm-9 py-3">{{ object.content_type }}</dd><dt class="col-sm-3 py-3">User</dt><dd class="col-sm-9 py-3">{{ object.user }}</dd><dt class="col-sm-3 py-3">Member</dt><dd class="col-sm-9 py-3">{{ object.member }}</dd><dt class="col-sm-3 py-3">Like</dt><dd class="col-sm-9 py-3">{{ object.like }}</dd><dt class="col-sm-3 py-3">Content Object</dt><dd class="col-sm-9 py-3">{{ object.content_object }}</dd><dt class="col-sm-3 py-3">Rating</dt><dd class="col-sm-9 py-3">{{ object.rating }}</dd></dl>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col p-3">
            <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-primary" 
                    href="{% url 'social_network:user-likes-update' object.slug %}">Edit
                </a>
            </li>
    
            <li class="list-inline-item">
                <a class="btn btn-primary"
                   href="{% url 'social_network:user-likes-delete' object.slug %}">Delete
                </a>
            </li>
    
            </ul>            
            </div>
        </div>
    </div>
    {% endblock %}
