{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'profile_management:community-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Community Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Community Code</dt>
                        <dd class="col-sm-9 py-3">{{ object.community_code }}</dd>

                        <dt class="col-sm-3 py-3">Community Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.community_name }}</dd>

                        <dt class="col-sm-3 py-3">State Of Origin</dt>
                        <dd class="col-sm-9 py-3">{{ object.state_of_origin }}</dd>
                        <dt class="col-sm-3 py-3">Local Govt Area</dt>
                        <dd class="col-sm-9 py-3">{{ object.local_govt_area }}</dd>

                        <dt class="col-sm-3 py-3">Tribal Group</dt>
                        <dd class="col-sm-9 py-3">{{ object.tribal_group }}</dd>
                        <dt class="col-sm-3 py-3">Community Mou</dt>
                        <dd class="col-sm-9 py-3">{{ object.community_mou }}</dd>
                        <dt class="col-sm-3 py-3">Location Type</dt>
                        <dd class="col-sm-9 py-3">{{ object.location_type }}</dd>
                        <dt class="col-sm-3 py-3">Asset License</dt>
                        <dd class="col-sm-9 py-3">{{ object.asset_type }}</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:community-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:community-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
