{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'profile_management:professional-membership-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Professional Membership Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Member</dt>
                        <dd class="col-sm-9 py-3">{{ object.member }}</dd>
                        <dt class="col-sm-3 py-3">Association</dt>
                        <dd class="col-sm-9 py-3">{{ object.association }}</dd>
                        <dt class="col-sm-3 py-3">Member Role</dt>
                        <dd class="col-sm-9 py-3">{{ object.member_role }}</dd>
                        <dt class="col-sm-3 py-3">Member Position</dt>
                        <dd class="col-sm-9 py-3">{{ object.member_position }}</dd>
                        <dt class="col-sm-3 py-3">Membership Start</dt>
                        <dd class="col-sm-9 py-3">{{ object.membership_start }}</dd>
                        <dt class="col-sm-3 py-3">Membership End</dt>
                        <dd class="col-sm-9 py-3">{{ object.membership_end }}</dd>
                        <dt class="col-sm-3 py-3">Association Contact</dt>
                        <dd class="col-sm-9 py-3">{{ object.association_contact }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:professional-membership-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:professional-membership-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
