{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'profile_management:scholarship-profile-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Scholarship Profile Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Scholarship Code</dt>
                        <dd class="col-sm-9 py-3">{{ object.scholarship_code }}</dd>

                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.description }}</dd>

                        <dt class="col-sm-3 py-3">Beneficiary/Awardee</dt>
                        <dd class="col-sm-9 py-3">{{ object.owner }}</dd>

                        <dt class="col-sm-3 py-3">Course Of Study</dt>
                        <dd class="col-sm-9 py-3">{{ object.course_of_study }}</dd>

                        <dt class="col-sm-3 py-3">
                            Entry Level On Award
                        </dt>
                        <dd class="col-sm-9 py-3">
                            {{ object.entry_level_on_award }}
                            <span class="small">The beneficiary's level of study at time of scholarship award</span>
                        </dd>

                        <dt class="col-sm-3 py-3">Year Of Graduation</dt>
                        <dd class="col-sm-9 py-3">{{ object.year_of_graduation }}</dd>
                        <dt class="col-sm-3 py-3">Graduating Grade</dt>
                        <dd class="col-sm-9 py-3">{{ object.graduating_grade }}</dd>

                        <dt class="col-sm-3 py-3">Scholarship Duration</dt>
                        <dd class="col-sm-9 py-3">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>From:</strong>&nbsp;{{ object.scholarship_start }}
                                </li>
                                <li class="list-inline-item"><strong>To:</strong>&nbsp;{{ object.scholarship_end }}</li>
                            </ul>

                        </dd>


                        <dt class="col-sm-3 py-3">Year of Award</dt>
                        <dd class="col-sm-9 py-3">{{ object.scholarship_award_year }}</dd>

                        <dt class="col-sm-3 py-3">Scholarship Academic Year</dt>
                        <dd class="col-sm-9 py-3">{{ object.scholarship_academic_year }}</dd>

                        <dt class="col-sm-3 py-3">Benefit Amount</dt>
                        <dd class="col-sm-9 py-3">{{object.benefit_currency|safe}}
                            {{ object.benefit_amount|intcomma }}
                        </dd>
                    </dl>
                    <section>

                        <div class="row">
                            <div class="col-12 p-3" id="view-comments">
                                <h6 class="card card-header">Community</h6>
                                <dl class="my-3 px-3">
                                    <dt class="list-item">State</dt>
                                    <dd>{{object.community.state_of_origin}}</dd>
                                    <dt>Local Govt. Area</dt>
                                    <dd>{{object.community.local_govt_area}}</dd>
                                    <dt>Community Name</dt>
                                    <dd>{{object.community.community_name}}</dd>
                                </dl>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:scholarship-profile-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:scholarship-profile-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
