{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'profile_management:user-c-v-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User CV Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">Personnel</dt>
                        <dd class="col-sm-9 py-3">{{ object.user }}</dd>
                        <dt class="col-sm-3 py-3">Career Objective</dt>
                        <dd class="col-sm-9 py-3">{{ object.career_objective }}</dd>
                        <dt class="col-sm-3 py-3">Cv Name</dt>
                        <dd class="col-sm-9 py-3">{{ object.cv_name }}</dd>
                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.description }}</dd>
                        <dt class="col-sm-3 py-3">Publication</dt>
                        <dd class="col-sm-9 py-3">{{ object.publication }}</dd>
                        <dt class="col-sm-3 py-3">Hobbies</dt>
                        <dd class="col-sm-9 py-3">{{ object.hobbies }}</dd>
                    </dl>
                    <section>
                        {% if object.job_applications.all %}
                        <h6 class="card card-header">Job Application</h6>
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled ">
                                        {% for application in object.job_applications.all %}
                                        <li class="list-item my-3">
                                            <div class="card entry-card">
                                                <div class="card-body">{{application.job_posting.title}}</div>
                                                <div class="card-footer entry-card-footer">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><strong>Title</strong>&nbsp;
                                                            {{application.job_posting.title}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>Application date &
                                                            time</strong>&nbsp;
                                                            {{application.application_datetime}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </section>
                    <section>
                        {% include 'components/entity_media_entry.html' with object=object.media %}
                    </section>
                    <section>
                        {% if object.qualifications.all %}
                        <h6 class="card card-header">Qualification</h6>
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled ">
                                        {% for qualification in object.qualifications.all %}
                                        <li class="list-item my-3">
                                            <div class="card entry-card">
                                                <div class="card-body">{{qualification.description}}</div>
                                                <div class="card-footer entry-card-footer">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><strong>Title</strong>&nbsp;
                                                            {{qualification.qualification_name}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>Award date &
                                                            time</strong>&nbsp;
                                                            {{qualification.awarded_on}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                    <section>
                        {% if object.education_histories.all %}
                        <h6 class="card card-header">Education History</h6>
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled ">
                                        {% for education in object.education_histories.all %}
                                        <li class="list-item my-3">
                                            <div class="card entry-card">
                                                <div class="card-body">
                                                    <p>
                                                        {{education.programme}} from
                                                        <span class="font-weight-bold">
                                                            {{education.institution.institution_name}}
                                                        </span>
                                                    </p>

                                                </div>
                                                <div class="card-footer entry-card-footer">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><strong>Programme</strong>&nbsp;
                                                            {{education.programme}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>Start date</strong>&nbsp;
                                                            {{education.programme_start}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>End date</strong>&nbsp;
                                                            {{education.programme_end}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>

                    <section>
                        {% if object.education_histories.all %}
                        <h6 class="card card-header">Work Experience</h6>
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled ">
                                        {% for experience in object.work_experiences.all %}
                                        <li class="list-item my-3">
                                            <div class="card entry-card">
                                                <div class="card-body">
                                                    <p>
                                                        {{experience.job_title}} at
                                                        <span class="font-weight-bold">
                                                            {{experience.employer}}
                                                        </span>
                                                    </p>

                                                </div>
                                                <div class="card-footer entry-card-footer">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><strong>Job ID</strong>&nbsp;
                                                            {{experience.job_id}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>Start date</strong>&nbsp;
                                                            {{experience.employment_start}}
                                                        </li>
                                                        <li class="list-inline-item"><strong>End date</strong>&nbsp;
                                                            {{experience.employment_end}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:user-c-v-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:user-c-v-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
