{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{% url 'profile_management:user-skill-set-list' %}">View all
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User Skill Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 py-3">User</dt>
                        <dd class="col-sm-9 py-3">{{ object.user }}</dd>
                        <dt class="col-sm-3 py-3">Skill</dt>
                        <dd class="col-sm-9 py-3">{{ object.skill.name }}</dd>
                        <dt class="col-sm-3 py-3">Description</dt>
                        <dd class="col-sm-9 py-3">{{ object.skill.description }}</dd>

                        <dt class="col-sm-3 py-3">Proficiency Level</dt>
                        <dd class="col-sm-9 py-3">
                            <div class="form-group">
                                <label for="proficiency"><strong>Level&nbsp;{{object.proficiency_level}}</strong></label>
                                <input class="custom-range" id="proficiency" type="range" min="0" max="10"
                                       value="{{object.proficiency_level}}" disabled>

                            </div>
                        </dd>


                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col p-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:user-skill-set-update' object.slug %}">Edit
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-primary"
                       href="{% url 'profile_management:user-skill-set-delete' object.slug %}">Delete
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
