
<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Community</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Community</dt>
                        <dd>{{entry.article.community_name}}</dd>
                        <dt>State of Origin</dt>
                        <dd>{{entry.article.state_of_origin}}</dd>
                        <dt>Local Government Area</dt>
                        <dd>{{entry.article.local_govt_area}}</dd>
                        <dt>Tribal Group</dt>
                        <dd>{{entry.article.tribal_group}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'profile_management:community-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>