{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Professional Associations</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Association</dt>
                        <dd>{{entry.article.association}}</dd>
                        <dt>Membership start date</dt>
                        <dd>{{entry.article.membership_start}}</dd>
                        <dt>Membership end date</dt>
                        <dd>{{entry.article.membership_end}}</dd>
                        <dt>Position as member</dt>
                        <dd>{{entry.article.member_position}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'profile_management:professional-membership-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>