{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Scholarship Profile</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Course of study</dt>
                        <dd>{{entry.article.course_of_study}}</dd>
                        <dt>Scholarship start date</dt>
                        <dd>{{entry.article.scholarship_start}}</dd>
                        <dt>Scholarship end date</dt>
                        <dd>{{entry.article.scholarship_end}}</dd>
                        <dt>Entry level on award</dt>
                        <dd>{{entry.article.entry_level_on_award}}</dd>
                        <dt>Year of Graduation</dt>
                        <dd>{{entry.article.year_of_graduation}}</dd>
                        <dt>Scholarship benefit</dt>
                        <dd>{{entry.article.benefit_amount|intcomma}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'profile_management:scholarship-profile-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>