{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Testimonial</h5>
                </div>
                <div class="card-body">
                    <p>
                        {{entry.article.testimony|truncatechars:512}}
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><strong>Testimonial by</strong>&nbsp;{{entry.article.testifier.username}}</li>
                        <li class="list-inline-item"><strong>Created</strong>&nbsp;{{entry.article.testified_on}}</li>
                    </ul>
                    <p class="mt-5">
                        <a href="{% url 'profile_management:testimonial-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>