
<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Skills</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Skill</dt>
                        <dd>{{entry.article.skill.name}}</dd>
                        <dt>Skill's description</dt>
                        <dd>{{entry.article.skill.description}}</dd>
                        <dt>Proficiency</dt>
                        <dd>
                            <p>Proficiency is graded on a scale of 0 - 10</p>
                            <p class="small p-1 m-1">0 represent very poor skill</p>
                            <p class="small p-1 m-1">10 represent perfection or excellence</p>
                            <div class="form-group">
                                <label for="proficiency"><strong>Level&nbsp;{{entry.article.proficiency_level}}</strong></label>
                                <input class="custom-range" id="proficiency" type="range" min="0" max="9" value="{{entry.article.proficiency_level}}" disabled>

                            </div>


                        </dd>
                    </dl>

                </div>
            </div>

        </div>

    </div>
</article>