{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User CV</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Career objective</dt>
                        <dd>{{entry.article.career_objective}}</dd>
                        <dt>Publications</dt>
                        <dd>{{entry.article.publications}}</dd>
                        <dt>Hobbies</dt>
                        <dd>{{entry.article.hobbies}}</dd>
                        <dt>Other CV entries</dt>
                        <dd>
                            <p>View other attributes of <strong>{{entry.article.user.username}}</strong> captured in
                                selected CV</p>
                            <ul class="list-unstyled">
                                <li class="list-item">
                                    {% if entry.article.work_experiences.all %}
                                    <h6 class="card card-header">Work experiences</h6>
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <ul class="list-unstyled">
                                        {% for experience in entry.article.work_experiences.all %}
                                        <li class="list-item">
                                            <a href="{% url 'achievement:work-experience-detail' experience.slug %}">
                                                {{experience.job_title}}
                                            </a>

                                        </li>
                                        {% endfor %}
                                    </ul>
                                        </div>
                                    </div>
                                    {% endif %}

                                </li>
                                <li class="list-item">
                                    {% if entry.article.education_histories.all %}
                                    <h6 class="card card-header">Education</h6>
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <ul class="list-unstyled">
                                                {% for education in entry.article.education_histories.all %}
                                                <li class="list-item">
                                                    <a href="{% url 'achievement:education-history-detail' education.slug %}">
                                                        {{education.programme}}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                </li>
                                <li class="list-item">
                                    {% if entry.article.qualifications.all %}
                                    <h6 class="card card-header">Qualifications</h6>
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <ul class="list-unstyled">
                                                {% for qualification in entry.article.qualifications.all %}
                                                <li class="list-item">
                                                    <a href="{% url 'achievement:qualification-detail' qualification.slug %}">
                                                        {{qualification.qualification_name}}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}

                                </li>
                            </ul>
                        </dd>
                    </dl>

                    <p>
                        <a href="{% url 'profile_management:user-c-v-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>