{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Life's achievements</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Title</dt>
                        <dd>{{entry.article.title}}</dd>
                        <dt>Descriptive value</dt>
                        <dd>{{entry.article.descriptive_value}}</dd>
                        <dt>Source of achievement</dt>
                        <dd>{{entry.article.achievement_source}}</dd>
                        <dt>Perceived value</dt>
                        <dd>{{entry.article.perceived_value|intcomma}}</dd>
                        <dt>Supporting document</dt>
                        <dd>View supporting document <a href="{{entry.article.document.get_absolute_url}}">here</a></dd>
                    </dl>
                    <p>
                        <a href="{% url 'achievement:achievements-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>