{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Educational History</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Programme start</dt>
                        <dd>{{entry.article.programme_start}}</dd>
                        <dt>Programme end</dt>
                        <dd>{{entry.article.programme_end}}</dd>
                        <dt>Faculty</dt>
                        <dd>{{entry.article.faculty}}</dd>
                        <dt>Department</dt>
                        <dd>{{entry.article.department}}</dd>
                        <dt>Specialization</dt>
                        <dd>{{entry.article.specialization}}</dd>
                        <dt>Awarded Degree</dt>
                        <dd>{{entry.article.awarded_degree}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'achievement:education-history-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>