{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Qualification</h5>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Qualification</dt>
                        <dd>{{entry.article.qualification_name}}</dd>
                        <dt>Qualfication code</dt>
                        <dd>{{entry.article.qualification_code}}</dd>
                        <dt>Description</dt>
                        <dd>{{entry.article.description}}</dd>
                        <dt>Academic qualification</dt>
                        <dd>{{entry.article.is_academic_qualification|yesno:"Is Academic Qualification, Is not Academic Qualification"}}</dd>
                        <dt>Awarded on</dt>
                        <dd>{{entry.article.awarded_on|date:"D d M Y"}}</dd>
                        <dt>Valid till</dt>
                        <dd>{{entry.article.valid_till|date:"D d M Y"}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'achievement:qualification-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>