{% load humanize %}

<article class="profile-entry">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Work Experience</h5>
                </div>
                <div class="card-body">
                    <p>Registered work experience by <strong>{{entry.article.employee.username}}</strong></p>
                    <dl>
                        <dt>Job title</dt>
                        <dd>{{entry.article.job_title}}</dd>
                        <dt>Job ID</dt>
                        <dd>{{entry.article.job_id}}</dd>
                        <dt>Employment start date</dt>
                        <dd>{{entry.article.employment_start}}</dd>
                        <dt>Employment end date</dt>
                        <dd>{{entry.article.employment_end}}</dd>
                        <dt>Salary Range</dt>
                        <dd>{{entry.article.salary_range_min|intcomma}} to {{entry.article.salary_range_max|intcomma}}</dd>
                    </dl>
                    <p>
                        <a href="{% url 'achievement:work-experience-detail' entry.article.slug %}">More...</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</article>